@import url("../../../app.component.css");

.button {
    background-color: #6869b4;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;

    text-decoration: none;
    margin-bottom: 20px;


    font-size: 16px;
}