<div class="container-fluid">
    <div class="header1">
        <h1 class="heading">Module Administration</h1>
    </div>

    <table class="table" border="1">
        <thead>
            <tr>

                <th>Name</th>
                <th>Description</th>
                <th>is active</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Course</th>
                <th>Module Order No</th>
                <th>Course Name</th>


                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="isVisible">


                <td>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="module.moduleName"
                            value="{{module.moduleName}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="module.moduleDescription"
                            value="{{module.moduleDescription}}" />
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="module.moduleStartDate"
                            value="{{module.moduleStartDate}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="module.moduleEndDate"
                            value="{{module.moduleEndDate}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="number" [(ngModel)]="module.moduleCourse"
                            value="{{module.moduleCourse}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="number" [(ngModel)]="module.moduleOrderNo"
                            value="{{module.moduleOrderNo}}" />
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <select [(ngModel)]="module.courseId_id" class="form-control">
                            <option *ngFor="let course of courses" value="{{course.courseId}}"
                                [selected]="module.courseId_id==course.courseId?true:null">
                                {{course.courseName}} - {{course.courseId}}
                            </option>
                        </select>
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <button class="form-control btn btn-success" id="updbtn"
                            (click)="updatemodule(module)">Update</button>
                    </div>
                </td>

            </tr>




            <tr *ngFor="let module of _teacherModule,let i=index">

                <td>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="module.moduleName"
                            value="{{module.moduleName}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="module.moduleDescription"
                            value="{{module.moduleDescription}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="checkbox" [(ngModel)]="module.moduleIsActive"
                            checked=" {{module.moduleIsActive}}" disabled />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="module.moduleStartDate"
                            value="{{module.moduleStartDate}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="module.moduleEndDate"
                            value="{{module.moduleEndDate}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="number" [(ngModel)]="module.moduleCourse"
                            value="{{module.moduleCourse}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="number" [(ngModel)]="module.moduleOrderNo"
                            value="{{module.moduleOrderNo}}" />
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <select [(ngModel)]="module.courseId_id" class="form-control">
                            <option *ngFor="let course of courses" value="{{course.courseId}}"
                                [selected]="module.courseId_id==course.courseId?true:null">
                                {{course.courseName}} - {{course.courseId}}
                            </option>
                        </select>
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <button class="form-control btn btn-success" id="updbtn"
                            (click)="updatemodule(module)">Update</button>
                    </div>
                </td>

            </tr>

        </tbody>
    </table>

    <button class="button" (click)="Back()" id="delbtn">Back</button>
</div>