<div class="container-fluid">
    <div class="header1">
        <h1>{{admininstitution.adminInstitutionName}} Courses</h1>
    </div>

    <button (click)="addCourses()">Add Courses</button>
    <table class="table" border="1px">
        <thead id="deptHeader">
            <tr>
                <th>Course Name</th>
                <th>Course Description</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td>{{ course.courseName }}</td>
                <td>{{ course.courseDescription }}</td>
            </tr>
        </tbody>
    </table>
    <!--<button class="btn btn-primary" (click)="Display()">Back</button>-->