.submitbutton {
    margin-top: 2rem;
    background-color: #2E6DA4;
    color: white;
}


.noChangeSubmitButton {
    background-color: green
}

.dirtySubmitButton {
    background-color: #2E6DA4;
}

.jumbotron {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FAFAFA;
    border: 1px solid black;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check-input {
    margin-right: 10px;
    margin-bottom: 30px;
}

.float-label {
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 16px;
}

/* .submitbutton.ng-dirty {
    color: aquamarine;
} */