<ng-container *ngIf="pagination">
    <ng-container *ngFor="let queAns of questionAnswers | paginate: { itemsPerPage: 1, currentPage: currentPage }">
        <ng-container *ngTemplateOutlet="form; context: {$implicit: queAns, index:currentPage }"></ng-container>
    </ng-container>
</ng-container>

<ng-container *ngIf="!pagination">
    <ng-container *ngFor="let queAns of questionAnswers;let i= index">
        <ng-container *ngTemplateOutlet="form; context: {$implicit: queAns,index:i+1 }"></ng-container>
    </ng-container>
</ng-container>



<ng-container *ngIf="pagination ">
    <div class="text-center"
        *ngIf="selectedQuizId!='undefined' && selectedQuizId!='' && selectedQuizId!=null && selectedCategoryId!='undefined'  && selectedCategoryId!='' && selectedCategoryId!=null">
        <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
    </div>
</ng-container>



<ng-template #form let-queAns let-index="index">
    <form #myForm="ngForm" (ngSubmit)="onFormSubmit(queAns,questionAnswers)">
        <div class="jumbotron">
            <h4>Question : {{ index }}</h4>
            <div class="img" *ngIf="queAns.questionFigure">
                <img *ngIf="queAns['image'] ;else viewImage" src="{{image}}" style="max-width: 350px">
                <ng-template #viewImage>
                    <img *ngIf="queAns['questionId']" src="{{displayUrl}}/{{queAns['questionId']}}"
                        style="max-width: 350px">
                </ng-template>

            </div>
            <!-- <div class="totalMarks"> Total Marks - {{ queAns['totalMarks'] }}</div> -->

            <div class="totalMarks"> Total Marks - {{totalQuizMarks}}</div> 
            
       
          
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="float-label">Figure - {{queAns['questionFigure']}}</label>
                    <input type="file" (change)="onFileSelected($event,queAns)" (ngModelChange)="onFormDirty(queAns)"
                        [(ngModel)]="queAns['questionFigure']" class="form-control" [disabled]="disable">
                </div>

                <div class="col-sm-6">
                    <label class="float-label">Order Number</label>
                    <input name="queOrderNo{{index}}" type="number" [(ngModel)]="queAns['questionOrderNo']"
                        class="form-control" required="" [disabled]="disable" (ngModelChange)="onFormDirty(queAns)">
                </div>
            </div>
            <label class="float-label">Question</label>
            <input name="queContent{{index}}" type="text" [(ngModel)]="queAns['questionContent']" class="form-control"
                required="" [disabled]="disable" (ngModelChange)="onFormDirty(queAns)">
            <label class="float-label">Explanation</label>
            <textarea name="queExplanation{{index}}" [(ngModel)]="queAns['questionExplanation']" class="form-control"
                required="" [disabled]="disable" (ngModelChange)="onFormDirty(queAns)"></textarea>
            <label class="float-label">Answer</label>
            <div *ngIf="selectedCategoryName == 'MCQ' ;else otherCategory">
                <!-- MCQ answer input area code goes here -->
                <!-- <input name=" queFigure" type="text" class="form-control" required=""> -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ansCorrect{{index}}" id="option1"
                        value="{{queAns['correct1']}}" (click)="onAnswerSelected(queAns,'correct1')"
                        [checked]="queAns['correct1']" (ngModelChange)="onFormDirty(queAns)" required>
                    <label class="form-check-label" for="option1">
                        <input name="ansContent1{{index}}" [(ngModel)]="queAns['content1']" class="form-control"
                            required [disabled]="disable" (ngModelChange)="onFormDirty(queAns)">

                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ansCorrect{{index}}" id="option2"
                        value="{{queAns['correct2']}}" (click)="onAnswerSelected(queAns,'correct2')"
                        [checked]="queAns['correct2']" (ngModelChange)="onFormDirty(queAns)" required>
                    <label class="form-check-label" for="option2">
                        <input name="ansContent2{{index}}" [(ngModel)]="queAns['content2']" class="form-control"
                            required [disabled]="disable" (ngModelChange)="onFormDirty(queAns)">

                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ansCorrect{{index}}" id="option3"
                        value="{{queAns['correct3']}}" (click)="onAnswerSelected(queAns,'correct3')"
                        [checked]="queAns['correct3']" (ngModelChange)="onFormDirty(queAns)" required>
                    <label class="form-check-label" for="option3">
                        <input name="ansContent3{{index}}" [(ngModel)]="queAns['content3']" class="form-control"
                            required [disabled]="disable" (ngModelChange)="onFormDirty(queAns)">
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ansCorrect{{index}}" id="option4"
                        value="{{queAns['correct4']}}" (click)="onAnswerSelected(queAns,'correct4')"
                        [checked]="queAns['correct4']" (ngModelChange)="onFormDirty(queAns)" required>
                    <label class="form-check-label" for="option4">
                        <input name="ansContent4{{index}}" [(ngModel)]="queAns['content4']" class="form-control"
                            required [disabled]="disable" (ngModelChange)="onFormDirty(queAns)">
                    </label>
                </div>

            </div>
            <ng-template #otherCategory>
                <textarea name="ansContent1{{index}}" [(ngModel)]="queAns['content1']" class="form-control" required=""
                    [disabled]="disable" (ngModelChange)="onFormDirty(queAns)"
                    (ngModelChange)="onAnswerEntered(queAns)"></textarea>
            </ng-template>
            <label>Marks</label>
            <div style="

            width: 7%;">
                <input class="form-control" required="" name="maxMarks" [(ngModel)]="queAns['maxMarks']" (ngModelChange)="onFormDirty(queAns)"  [disabled]="disable"   type="number" min="0" step="0.01" pattern="\d+(\.\d+)?"   />


            </div>
            <!-- <label class="float-label"> Correct</label>
                        <input name="ansCorrect" type="checkbox" [(ngModel)]="answer.correct"
                            class="form-control" required=""> -->
            <div class="text-center" *ngIf="pagination && submitOption">
                <!-- Your form HTML code -->

                <!-- Add the "ngClass" directive to the submit button -->
                <button class="btn submitbutton"
                    [ngClass]="{'dirtySubmitButton' : myForm.dirty && queAns['isFormDirty'], 'noChangeSubmitButton' :queAns['isFormSubmitted']}"
                    type="submit" [disabled]="!myForm.valid || !queAns['isOptionSelected']">Submit</button>

                    <button class="btn submitbutton"
                    [ngClass]="{'dirtySubmitButton' : myForm.dirty && queAns['isFormDirty'], 'noChangeSubmitButton' :queAns['isFormSubmitted']}"
                    type="button" [disabled]="!myForm.valid || !queAns['isOptionSelected']" (click)="onDelete(queAns)">Delete</button>
            </div>

        </div>

    </form>
</ng-template>
<ng-container *ngIf="!(pagination && submitOption)">
    <button class="download-button" (click)="generatePdfUsingPdfMaker()">
        <i class="fas fa-file-pdf"></i> Download PDF
    </button>
</ng-container>