body {
    background-color: #eee
}

.card {
    height: 200px;
    border: 5px solid #566787;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

    cursor: pointer;
}

.card-body button {
    margin-top: 30px;
    font-size: 16px;
}

.card-header {
    margin-top: 30px;
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}

#h2 button {
    margin-top: 20px;
    margin-left: 560px;
    width: 90px;
    height: 40px;
}

#sub-head {

    margin-top: 30px;

}

#AuthUsername {
    text-align: center;
    size: 20px;
}

#demo {
    color: white;
    background-color: rgba(26, 115, 232, 0.83);
    margin-left: 190px;
}

.heading {
    margin-left: 30px;
}

#icon1 {
    margin-top: 20px;
    margin-left: 200px;
    font-size: 60px;
}

.buttons {
    margin-top: 20px;
}

.header {
    margin-top: -15px;
    margin-bottom: -5px;
}



  .app-chartdata-ui {
    font: normal 12px sans-serif;
    max-width: 99%;
    /* background-color: #c5d1d8; */
    margin: 0 0%;
    padding: 1rem 0;
    border-radius: 6px;
    height: 36rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #566787;
  }
  

  #prevButton {
    width: 48px; /* set a fixed width */
    display: flex;
    justify-content: flex-start;
    visibility: visible; /* show the button */
  }
  
  #nextButton {
    width: 48px; /* set a fixed width */
    display: flex;
    justify-content: flex-end;
    visibility: visible; /* show the button */
  }
  
  /* hide the buttons when they are not needed */
  #app-chartdata-ui:not(:hover) #prevButton:not(:hover),
  #app-chartdata-ui:not(:hover) #nextButton:not(:hover) {
    visibility: hidden;
  }

  
  #chart-head{
    display: flex;
    align-items: center;
    justify-content: center; 

  }
  .chart {
    width: 300px;
    padding-bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
   
    .color-wrapper {
      display: grid;
      margin-right: 10px;
    }
  
    .color-ref {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      transform: translateY(4px);
    }
  
    .chart-specs {
      display: grid;
      grid-template-columns: 20px calc(100% - 75px) 20px;
      line-height: 23px;
      margin-top: 30px;
      margin-left: 20px;
    }
  }
  #nocourmsg{ 
    font-size: 45px;

    padding-right: 25%;
    padding-left: 30%;
  }