<div class="container">


    <div>
        <div class="row">
            <div class="col-md-6 justify-content-between header">
                <h1><img src="{{displayInstituteLogo}}/{{instituteId}}" style="width: 50px; height: 50px;border: 1px solid black;"> Student Panel</h1>
                <h3> Welcome {{userName | titlecase}}</h3>
            </div>

            <div class="col-md-6 text-right buttons">
                <button class="btn btn-primary" id="adminbtn" (click)="RedirectTOLogin()">Logout</button>
            </div>
        </div>
    </div>

    <!-- Code for displaying charts for course progress   -->
    <div id="chart-data">
        <h3>Progress Panel</h3>

        <div *ngIf="doughCharts.length != 0 " class="app-chartdata-ui">
            <div id="prevButton">
                <button *ngIf="currentIndex >= 3" (click)="previous()" class='fas fa-angle-left' style='font-size:48px;color:black;background: transparent;
    border: none;'></button>
            </div>
            <div id="chart-head">
                <div class="chart" *ngFor="let dChart of doughCharts; let i = index"
                    [ngClass]="{'hidden': i < currentIndex || i >= currentIndex + 3}">
                    <h4>
                       <b> <p class="category">{{ dChart[2] }}</p></b>
                    </h4>
                    <app-chartdata [jsonArray]="[dChart[0], dChart[1]]"></app-chartdata>

                </div>
            </div>
            <div id="nextButton">
                <button *ngIf="currentIndex < doughCharts.length - 3" (click)="next()" class='fas fa-angle-right' style='font-size:48px;color:black;background: transparent;
  border: none;'></button>
            </div>
        </div>
        <!-- Code for display message when courses  are not assigned -->
        <div *ngIf="doughCharts.length == 0 " class="app-chartdata-ui">

            <div id="nocourmsg">
                No Courses Assigned
            </div>

        </div>







        <!-- ----------------------------------------------
    -->

        <div class="container">
            <!-- first row  -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center" (click)="RedirectToStudentCourse()">
                        <div class="card-header">
                            <span class="fas fa-book-open fa-4x" style="color:rgb(21,114,213)"></span>
                        </div>
                        <div class="card-body">
                            <!--<h3 class="card-title">Courses</h3>-->
                            <button class="btn btn-primary">Courses</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center" (click)="RedirectToStudentModule()">
                        <div class="card-header">
                            <span class="fas fa-book fa-4x" style="color: rgb(114,208,169);"></span>
                        </div>
                        <div class=" card-body">
                            <!--<h3 class="card-title">Lessons</h3>-->
                            <button class="btn btn-primary">Lessons</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center" (click)="redirectToNotification()">
                        <div class="card-header">
                            <span class="fas fa-bell fa-4x" style="color:rgb(236,172,56)"></span>
                        </div>
                        <div class="card-body">
                            <!--<h3 class="card-title">Announcements</h3>-->
                            <button class="btn btn-primary">Announcements</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>