<div class="container-fluid mt-5 mb-3">

    <!-- <head>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head> -->

    <div class="header">
        <div class="row">
            <div class="col-md-6" id="h1">
                <h1>Student Panel</h1>
                <h3> Welcome {{userName |titlecase}}</h3>
            </div>

            <div class="col-md-6" id="h2">
                <button class="btn btn-primary" id="demo" (click)="RedirectTOLogin()">Logout</button>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- first row  -->
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center" (click)="RedirectToStudentCourse()">
                    <div class="card-header">
                        <span class="fas fa-book-open fa-4x"></span>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Courses</h3>
                        <button class="btn btn-primary">Courses</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center" (click)="RedirectToStudentModule()">
                    <div class="card-header">
                        <span class="fas fa-book fa-4x"></span>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Lessons</h3>
                        <button class="btn btn-primary">Lessons</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center" (click)="redirectToNotification()">
                    <div class="card-header">
                        <span class="fas fa-bell fa-4x"></span>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Announcements</h3>
                        <button class="btn btn-primary">Announcements</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>