<div class="container">
    <app-module-header [moduleName]="moduleName"

        (backButtonClicked)="back()"></app-module-header>

    <div class="card-block">
        <div class="form-group row">
            <div class="col-sm-4">
               <label class="float-label">Institution Name</label>
                <div class="form-group">
                    <input type="text" [(ngModel)]="admininstitution.adminInstitutionName"
                        (ngModelChange)="checkFields()" value="{{admininstitution.adminInstitutionName}}"
                        [disabled]="true" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div><label class="float-label">Description</label></div>
                <div class="form-group">
                    <textarea rows="4" cols="50" type="text" [(ngModel)]="admininstitution.adminInstitutionDescription"
                        (ngModelChange)="checkFields()" value="{{admininstitution.adminInstitutionDescription}}"
                        class="form-control" style="height: 35px; width: 370px;"></textarea>
                </div>
            </div>

            <div class="col-sm-4">
                <label class="float-label">Institution Picture</label>
                <div class="form-group">
                    <input type="file" id="image-name" (change)="onFileSelected($event)" (ngModelChange)="checkFields()"
                        class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <label class="float-label">Signature Picture</label>
                <div class="form-group" style=" width: 32%;">
                    <input type="file" id="image-name" (change)="onFileSelectedForSignature($event)" (ngModelChange)="checkFields()"
                        class="form-control">
                </div>
            </div>
        
        </div>
        <div class="card-block row justify-content-between col-sm-12">
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary" (click)="updateInstitution(admininstitution)">Submit</button>
            </div>
        </div>
        <div class="images_section" >
        <div class="single_img_section">
        <span style="font-weight: 700;  margin-bottom: 2%;">Signature</span>
        <span><img src="{{displayUrl}}/{{admininstitution.adminInstitutionId}} " /></span>
        </div>
        
        <div class="single_img_section">
        <span style="font-weight: 700;  margin-bottom: 2%;">Institution</span>
        <span><img src="{{displayInstUrl}}/{{admininstitution.adminInstitutionId}} " /></span>
     
        </div>
      

     
    </div>
</div>

