<!-- <div class="container">
    <div class="header">
        <div class="row">
            <div class="col-md-6" id="h1">
                <h1>Admin Portal</h1>
            </div>

            <div class="col-md-6" id="h2">
                <button class="btn btn-info" (click)="RedirectTOLogin()">Logout</button>
            </div>
        </div>
    </div>


    <div class=""


    <div class="row">

        <div class="col-md-3">

            <button id="demo" class="btn btn-info" (click)="RedirectTOAuth()">Auth User</button>

        </div>

        <div class="col-md-3">

            <button id="demo" class="btn btn-info" (click)="RedirectToInstituteAdminProfile()">InstituteAdmin
                Profile</button>

        </div>

        <div class="col-md-3">

            <button id="demo" class="btn btn-info" (click)="RedirectToCourse()">Course</button>

        </div>

        <div class="col-md-3">

            <button id="demo" class="btn btn-info" (click)="RedirectToAdminDept()">Admin Department</button>

        </div>
    </div>




</div> -->


<div class="container-fluid mt-5 mb-3">

    <head>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>

    <div class="header">
        <div class="row">
            <div class="col-md-6" id="h1">
                <h1>Teacher Panel</h1>
                <h3> Welcome {{userName | titlecase}}</h3>
            </div>

            <div class="col-md-6" id="h2">
                <button class="btn btn-info" (click)="RedirectTOLogin()">Logout</button>
            </div>
        </div>
    </div>

    <div class="row" id="sub-head">
        <div class="col-md-4" id="data1">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <i class="glyphicon glyphicon-user" id="icon1"></i>
                        <div class="ms-2 c-details">
                            <h2 class="mb-0" id="AuthUsername">Create Quiz</h2>
                        </div>

                        <button id="demo" class="btn btn-info" (click)="RedirectToQuiz()">Create Quiz</button>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-4" id="data1">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <i class="material-icons" id="icon1">computer</i>
                        <div class="ms-2 c-details">
                            <h2 class="mb-0" id="AuthUsername"> Teacher Assigend Course </h2>
                        </div>

                        <button id="demo" class="btn btn-info" (click)="RedirectToTeacherCourse()">Courses Assigned to
                            Teacher</button>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-4" id="data1">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <i class="material-icons" id="icon1">class</i>
                        <div class="ms-2 c-details">
                            <h2 class="mb-0" id="AuthUsername"> Teacher Notification</h2>
                        </div>

                        <button id="demo" class="btn btn-info" (click)="redirectToAnnouncements()">Notification</button>

                    </div>

                </div>

            </div>
        </div>
        <!-- <div class="col-md-4" id="data1">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <i class="material-icons" id="icon1">class</i>
                        <div class="ms-2 c-details">
                            <h2 class="mb-0" id="AuthUsername">Create Quiz</h2>
                        </div>

                        <button id="demo" class="btn btn-info" (click)="RedirectToQuiz()">Quiz</button>
                    </div>

                </div>

            </div>
        </div> -->
    </div>

    <!-- <div class="row" id="sub-head">
        <div class="col-md-4" id="data1">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <i class="material-icons" id="icon1">important_devices</i>
                        <div class="ms-2 c-details">
                            <h2 class="mb-0" id="AuthUsername">Create Teacher Course </h2>
                        </div>

                        <button id="demo" class="btn btn-info" (click)="RedirectToTeacherCourse()">Create Teacher
                            Course</button>
                    </div>

                </div>

            </div>
        </div> -->
    <!-- <div class="col-md-4" id="data1">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <i class="material-icons" id="icon1">computer</i>
                        <div class="ms-2 c-details">
                            <h2 class="mb-0" id="AuthUsername">Create Institution </h2>
                        </div>

                        <button id="demo" class="btn btn-info" (click)="RedirectToAdminInstitution()">Institution
                        </button>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-4" id="data1">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <i class="material-icons" id="icon1">class</i>
                        <div class="ms-2 c-details">
                            <h2 class="mb-0" id="AuthUsername">Create Role</h2>
                        </div>

                        <button id="demo" class="btn btn-info" (click)="RedirectToRole()">Role</button>
                    </div>

                </div>

            </div>
        </div>

    </div>-->
</div>