<div class="container">
    <h1>Teacher Portal</h1>

    <button class="btn btn-info" (click)="RedirectTOLogin()" style="margin-left: 1100px;">Logout</button>
    <div class="row">
        <div class="col-md-3">

            <button id="demo" class="btn btn-info" (click)="RedirectToCourse()">Course</button>
        </div>

        <div class="col-md-3">

            <button id="demo" class="btn btn-info" (click)="RedirectToModule()">Teacher Module</button>

        </div>

        <div class="col-md-3">

            <button id="demo" class="btn btn-info" (click)="RedirectToQuiz()">Quiz</button>


        </div>


    </div>




</div>