
<div class="container-fluid">

    <div class="Heading">
        <h1>Admin Role  Details</h1>
    </div>
                        <table class="table table-striped" id="tbl1">
                            <tr>
                            <th>Role Id</th>
                            <td>{{admin.roleId}}</td>
                        </tr>

                            <tr>
                            <th>Role Active</th>
                            <td>{{admin.active}}</td>
                            </tr>

                            
                            <tr>
                            <th>Role Name</th>
                            <td>{{admin.roleName}}</td>
                            </tr>

                            <tr>
                            <th>Role description</th>
                            <td>{{admin.roleDescription}}</td>
                            </tr>

                            <tr>
                            <th>createdBy</th>
                            <td>{{admin.createdBy}}</td>
                            </tr>

                            <tr>
                            <th>createdOn</th>
                            <td>{{admin.createdOn}}</td>
                            </tr>
                            <tr>
                            <th>modifiedBy</th>
                            <td>{{admin.modifiedBy}}</td>
                            </tr>
                            <tr>
                            <th>modifiedBy</th>
                            <td>{{admin.modifiedOn}}</td>
                            </tr> 
                         <!--   <tr>
                            <li>{{emp | json}}</li>
                            <td>{{admin.roleId}}</td>
                            <td>{{admin.active}}</td>
                            <td>{{admin.roleName}}</td>
                            <td>{{admin.roleDescription}}</td>
                            <td>{{admin.createdBy}}</td>
                            <td>{{admin.createdOn}}</td>
                            <td>{{admin.modifiedBy}}</td>
                            <td>{{admin.modifiedOn}}</td>
                            
                            </tr>-->

                            <button class="btn btn-primary" (click)="goBack()">Back</button>
                        
                        </table>
</div>