<h1>Department Administration</h1>
<table class="table" border="1">
    <thead>
        <tr>
            <th>Sr.No.</th>
            <!-- <th>EmailId</th> -->
            <th>Title</th>
            <th>Subject</th>
            <th>Content</th>
            <th>status</th>
            <th>readStatus</th>
            <th>attachFile</th>
            <th>emailIsActive</th>
            <th>emailFormId</th>
            <th>Add</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let email of emails, let i=index">
            <td>{{i+1}}</td>
            <td><input type="text" [(ngModel)]="email.title" value="title" /></td>
            <td><input type="text" [(ngModel)]="email.subject" value="subject" /></td>
            <td><input type="text" [(ngModel)]="email.content" value="subject" /></td>
            <td><input type="checkbox" [(ngModel)]="email.status" checked="{{email.status}}" /></td>
            <td><input type="checkbox" [(ngModel)]="email.readStatus" checked=" {{email.readStatus}}" /></td>
            <td><input type="text" [(ngModel)]="email.attachFile" value="subject" /></td>
            <td><input type="checkbox" [(ngModel)]="email.emailIsActive" checked=" {{email.emailIsActive}}" disabled />
            </td>
            <td><select [(ngModel)]="email.emailFormId">
                    <option *ngFor=" let profile of instituteAdmin" value="{{profile.adminId}}"
                        [selected]="profile.adminId===email.emailFormId?true:null">{{profile.firstName}}
                        {{profile.lastName}}
                    </option>
                </select></td>
            <td><button class="addbtn" id="addbtn" (click)="addEmail(email)">Add</button></td>
            <td><button class="updatebtn" id="updbtn" (click)="updateEmail(email)">Update</button></td>
            <td><button class="deletebtn" id="delbtn" (click)="deleteEmail(email.title)">Delete</button></td>
        </tr>

    </tbody>
</table>