<div class="container-fluid">
    <div class="header1">
        <h1>Department Administration</h1>
    </div>
    <div class="text-right"><button class="btn btn-success" (click)="redirectToActivateDepartment()"> Activate</button>
    </div>
    <table class="table" border="1px">
        <thead id="deptHeader">
            <tr>


                <th>Name</th>
                <th>Description</th>
                <th>Active</th>
                <th>Institute</th>
                <th>Add</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="isHidden">

                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="department.name" type="text"
                            value="{{department.name}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="department.description" type="text"
                            value="{{department.description}}" />
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="department.active" type="checkbox" checked disabled />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="department.institutionId">
                            <option *ngFor="let inst of adminInstitutions" value="{{inst.adminInstitutionId}}"
                                [selected]="department.institutionId==inst.adminInstitutionId?true:null">
                                {{inst.adminInstitutionName}} - {{inst.adminInstitutionId}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><button class="btn btn-primary" id="addbtn" (click)="addDepartment(department)">Add</button></td>
                <td><button class="btn btn-success" id="updatebtn"
                        (click)="updateDepartmentById(department)">Update</button></td>
                <td><button class="btn btn-danger" id="deletebtn"
                        (click)="deleteDepartmentById(department)">Delete</button>
                </td>
            </tr>
            <tr *ngFor="let dept of departments; let i=index">

                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="dept.name" type="text" value="{{dept.name}}" />
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="dept.description" type="text"
                            value="{{dept.description}}" />
                    </div>

                </td>


                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="dept.active" type="checkbox" checked
                            disabled="{{dept.active}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="dept.institutionId">

                            <option *ngFor="let inst of adminInstitutions" value="{{inst.adminInstitutionId}}"
                                [selected]="dept.institutionId==inst.adminInstitutionId?true:null">
                                {{inst.adminInstitutionName}} - {{inst.adminInstitutionId}}
                            </option>

                        </select>
                    </div>
                </td>
                <td><button class="btn btn-primary" (click)="addDepartment(dept)"> Add</button></td>
                <td><button class="btn btn-success" id="updatebtn" (click)="updateDepartmentById(dept)">Update</button>
                </td>
                <td><button class="btn btn-danger" id="deletebtn" (click)="deleteDepartmentById(dept)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <td><button class="btn btn-primary" (click)="Home()">Back</button></td>

</div>