table th {
    background-color: #566787;
    text-align: center;
    color: white;
}

table td {
    text-align: center;
}

button {
    border-radius: 12px;
    padding: 1px 8px;

}

input {
    border-radius: 8px;
}

select {
    border-radius: 8px;
    padding: 2px 8px;
}

input[type='number'] {
    width: 80px;
}


/* using classes */
.addbtn {
    background-color: #28a745;
    text-align: center;
    color: white;
}

.addbtn:hover {
    background-color: #299242;
    color: white;
}

.updatebtn {
    background-color: #28a745;
    text-align: center;
    color: white;
}

.updatebtn:hover {
    background-color: #299242;
    color: white;
}

.deletebtn {
    background-color: red;
    text-align: center;
    color: white;
}