<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Day Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>
  <div>

    <!-- ======= Top Bar ======= -->
    <!-- <section id="topbar" class="d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">info@example.com</a>
          <i class="bi bi-phone-fill phone-icon"></i> +1 5589 55488 55
        </div>
        <div class="social-links d-none d-md-block">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </section> -->

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
       
        <h1 class="logo" style="margin-right: 80rem">
          <!-- <img style="width: 150px; height:100px; " src="assets/img/DATASYS.jpg"> -->

          <a href="https://www.datasysamerica.com/">Datasys</a>
        </h1>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>

          

            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <!-- <li><a class="nav-link scrollto" routerLink="/authenticationlogin" >Login</a></li> -->
<li><a class="nav-link scrollto" (click)="openPopup()">Login</a></li>
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <h4 class="modal-title text-center" style="font-size:3rem; font-weight: 700;">Sign In</h4>
      <button type="button" class="close" data-dismiss="modal" (click)="closePopup()">
        <span aria-hidden="true">×</span>
      </button>
      <div class="modal-body">
        <!-- <p>One Stop Solution for all CS problems</p> -->
        <form>
          <div class="mb-3 mt-3">
              <label for="email">Username:</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="authUser.authUserName"
                  placeholder="Enter email" name="email">
          </div>
          <div class="mb-3">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd"
                  [(ngModel)]="authUser.authUserPassword" placeholder="Enter password" name="pswd">
          </div>

          <!-- <button type="submit" class="btn btn-primary" (click)="userLogin()">Submit</button> -->
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary"  style="
        height: 3rem;
        width: 8rem ;font-size: 1.5rem;margin-right: 2%"  (click)="userLogin()">Submit</button>

        <button type="button" style="
        height: 3rem;
        width: 8rem ;font-size: 1.5rem;" class="btn btn-danger" 
                (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
      
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->
  </div>
  <!-- ======= Home Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative"     style="margin-bottom: 45rem;">
      <h1>Welcome to LMS Portal</h1>

      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->


  <section id="about" class="about">
    <div class="container">

      <div class="row">

        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <!-- <h3>Overview</h3>
      
           <div style= "font-size: 1rem;color: BLACK;padding: 2rem;">
              <ul>

                <li>LMS helps to manage entire learning system, user is flexible to manage various institutions, departments, courses. Courses can be managed in form of modules .</li>
                <li>User can also store contents in form of video, pdf files. </li>
                <li>Only selected students have privilieage to take course and quizzes</li>
                <li>Student learning is tracked through quiz progress he/she assess and accordingly analytical data is maintained</li>
            
          </ul>

        </div> -->

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <section id="contact" class="contact">
    <div class="container">

      <div class="row">

        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <div style="
          font-size: 3rem;
          padding-bottom: 2rem;
      ">Contact Us</div>
          <div style="
          font-size: 2rem;
          color :#0cb5eb;
          font-family: 'Montserrat', sans-serif;

      ">
           <a href="https://www.datasysamerica.com/">Datasys Consulting and Software Inc. </a>
          </div>
          <div class="footer-div">
          <div style="padding:0.5rem">
          <i class="fa fa-map-marker" aria-hidden="true"></i>  
          116 Village Blvd, Suite #240,
          Princeton, NJ 08540
          </div>
         <div style="padding:0.5rem"> 
          <i class="fa fa-envelope" aria-hidden="true"></i>   hr@datasysamerica.com</div>
         <div style="padding:0.5rem">
          <i class="fa fa-phone" aria-hidden="true"></i>   (609) 520 8800 </div>
      
          <div style="padding:0.5rem">
            <i class="fa-solid fa-fax"></i>  (609) 228 5972</div>
        </div>
        </div>
      </div>

    </div>

  </section>

</body>

</html>