.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;

    text-decoration: none;
    margin-bottom: 20px;

    margin-left: 1%;
    font-size: 16px;
}