<div class="container-fluid">
    <div class="header1">
        <h1 class="heading">Category for Quiz</h1>
    </div>


    <button class="button" (click)="navAddCategory()">Add Category</button>

    <table class="table" border="1">
        <thead>
            <tr>

                <!-- <th>EmailId</th> -->
                <th>Category</th>


                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngIf="isHidden">

                <td>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="category.categoryName"
                            value="{{category.categoryName}}" readonly />
                    </div>
                </td>




                <td>
                    <div class="form-group">
                        <button class="form-control btn btn-danger" (click)="deleteCategory(category)"
                            id="delbtn">Delete</button>
                    </div>
                </td>
            </tr>



            <tr *ngFor="let categoryData of categories,let i=index">

                <td>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="categoryData.categoryName"
                            value="{{categoryData.categoryName}}" readonly />
                    </div>
                </td>



                <td>
                    <div class="form-group">
                        <button class="form-control btn btn-danger" (click)="deleteCategory(categoryData)"
                            id="delbtn">Delete</button>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
    <button class="btn-primary" (click)="Back()" id="delbtn">Back</button>

</div>