<div class="container-fluid text-center">
    <div class="header1">
        <h1>Activate Department</h1>
    </div>
    <table class="table" border="1px">
        <thead>
            <tr>
                <th style="width: 80px">Sr.No</th>
                <th>Department Name</th>
                <th>Description</th>
                <th>Institute Name</th>
                <th>Activate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dept of departments; let i=index">
                <td style="width: 80px">{{i+1}}</td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="dept.name" type="text" value="{{dept.name}}"
                            readonly />
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="dept.description" type="text"
                            value="{{dept.description}}" readonly />
                    </div>

                </td>

                <td>
                    <div class="form-group">
                        <ng-container *ngFor="let inst of adminInstitutions">
                            <input *ngIf="dept.institutionId==inst.adminInstitutionId?true:null" class="form-control"
                                type="text" value="{{inst.adminInstitutionName}}" readonly />
                        </ng-container>
                    </div>
                </td>
                <td><button class="btn btn-success" (click)="activateDepartment(dept.id)"> Activate</button></td>

            </tr>
        </tbody>
    </table>
    <td><button class="btn btn-primary" (click)="Home()">Back</button></td>
</div>