<div class="container">
    <div>
        <h1>Student Enroll Courses</h1>
    </div>
    <td>
        <button class="btn btn-primary" (click)="Back()"><i class="fa fa-home"></i></button>
    </td>

    <table class="table" border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Course Code</th>
                <th>Course Type</th>
                <th>Passing Score</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">

                <td>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="course.courseName"
                            value="{{course.courseName}}" readonly />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="course.courseDescription"
                            value="{{course.courseDescription}}" readonly />
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="course.courseCode"
                            value="{{course.courseCode}}" readonly />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="course.courseType"
                            value="{{course.courseType}}" readonly />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" type="number" [(ngModel)]="course.passingScore"
                            value="{{course.passingScore}}" readonly />
                    </div>
                </td>

                <!-- <td>
                    <div class="form-group">

                        <ng-container *ngFor="let inst of institutions">
                            <input *ngIf="course.instId==inst.adminInstitutionId?true:null" class="form-control"
                                type="text" value="{{inst.adminInstitutionName}}" readonly />
                        </ng-container>

                    </div>
                </td> -->
            </tr>

        </tbody>
    </table>
    <!-- {{courses|json}} -->

</div>