<div class="container-fluid">

    <div class="Header">
        <div class="head1">
            <h1>UHPOC Project HomePage</h1>
        </div>

        <div class="head2">
            <button class="btn btn-info" id="logout" (click)="_Back()">Logout</button>
        </div>
       

        
    </div>

    <div class="navigations">
        <button id="demo" class="btn btn-info" (click)="RedirectRole()">AdminRole</button>
        <button id="demo" class="btn btn-info" (click)="RedirectTOAuth()">Auth User</button>
        <button id="demo" class="btn btn-info" (click)="RedirectTOInsProfile()">InstituteAdmin Profile</button>
        <button id="demo" class="btn btn-info" (click)="RedirectToAdminDept()">Admin Department</button>
    </div>

</div>