<div class="container-fluid">

    <div class="Header">
        <div class="head1">
            <h1>UHPOC Project HomePage</h1>
        </div>

        <div class="head2">
            <button class="btn btn-info" id="logout" (click)="logout()">Logout</button>
        </div>



    </div>

    <div class="navigations">
        <button id="demo" class="btn btn-info" (click)="RedirectRole()">AdminRole</button>
        <button id="demo" class="btn btn-info" (click)="RedirectTOAuth()">Auth User</button>
        <button id="demo" class="btn btn-info" (click)="RedirectToInstituteAdminProfile()">InstituteAdmin
            Profile</button>
        <button id="demo" class="btn btn-info" (click)="RedirectToAdminDept()">Admin Department</button>
        <button id="demo" class="btn btn-info" (click)="RedirectToQuiz()">Quiz</button>
        <button id="demo" class="btn btn-info" (click)="RedirectToQuestion()">Teacher Question</button>
        <button id="demo" class="btn btn-info" (click)="RedirectToEmail()">Email</button>
        <button id="demo" class="btn btn-info" (click)="RedirectToModule()">Teacher Module</button>
        <button #btn1 id="demo" value="1" class="btn btn-info" (click)="getElementId(btn1)">Institute 1</button>



    </div>

</div>