<div class="container-fluid">

    <div class="Header">
        <div class="head1">
            <h1>UHPOC Project HomePage</h1>
        </div>

        <div class="head2">
            <button class="btn btn-info" id="logout" (click)="logout()">Logout</button>
        </div>



    </div>

    <div class="navigations">
        <button id="demo" class="btn btn-info" [routerLink]="['/AdminRole']">AdminRole</button>
        <button id="demo" class="btn btn-info" [routerLink]="['/AuthUser']">Auth User</button>
        <button id="demo" class="btn btn-info" [routerLink]="['/Profile']">InstituteAdmin
            Profile</button>
        <button id="demo" class="btn btn-info" [routerLink]="['/Department']">Admin Department</button>
        <button id="demo" class="btn btn-info" (click)="RedirectToQuiz()">Quiz</button>
        <button id="demo" class="btn btn-info" [routerLink]="['/Question']">Teacher Question</button>
        <button id="demo" class="btn btn-info" (click)="RedirectToEmail()">Email</button>
        <button id="demo" class="btn btn-info" (click)="RedirectToModule()">Teacher Module</button>

        <button id="demo" class="btn btn-info" [routerLink]="['/Course']">Course</button>

        <button id="demo" class="btn btn-info" (click)="RedirectToDisplayInstitute()">Institute</button>

        <button id="demo" class="btn btn-info" [routerLink]="['/category']">Category</button>
        <button id="demo" class="btn btn-info" (click)="RedirectToAnnouncement()">Announcement</button>




    </div>

</div>