<div class="container">
    <!-- <h1 class="text-left">{{userRole | titlecase}}'s Notification</h1>

<div class="top-right-buttons">
    
    <div class="row" *ngIf="isAutherisedToAdd">
        Button trigger modal 
        <div class="col-md-12 bg-light text-right">
            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModal"
                routerLink="add">Add Notification</button>
        </div>
    </div>
    <button class="btn btn-primary" (click)="back()">Back</button>
</div> -->

    <div class="row justify-content-between header">
        <div class="col-sm-6">
            <h1 class="text-left"> 
                <ng-container *ngIf="userRole !== 'admin'">
                    <img src="{{displayInstituteLogo}}/{{instituteId}}" style="width: 50px; height: 50px;border: 1px solid black;">
                </ng-container>
                <ng-container *ngIf="userRole === 'admin'">
                    <img src="assets/img/cloudpoint.png" style="width: 150px; height: 60px;">
                </ng-container>

                Announcements</h1>
        </div>
        <div class="col-sm-6 text-right buttons" >
            <button *ngIf="buttonsArray.showAddButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                routerLink="add">Add announcement</button>
            <button class="btn btn-primary" (click)="back()">Back</button>

        </div>
    </div>
    <div class="container">



        <div class="d-flex flex-row mb-3">
            <h4>Received</h4>
            <div class="table-wrapper">
                <table class="table table-bordered table-hover">

                    <thead class="table-dark">

                        <tr>

                            <th scope="col">Subject</th>
                            <th scope="col">Message</th>
                            <!-- <th scope="col">To</th> -->
                            <th scope="col">Sent By</th>
                            <th  scope="col">View</th>
                            <th *ngIf="buttonsArray.showDeleteButton" scope="col">Delete</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr *ngFor="let data of announcements; let i=index">

                            <td >
                                {{data.announcementTitle}}
                            </td>
                            <td >
                                {{data.announcementMessage}}
                            </td>
                            <!-- <td>{{data.announcementTo}}</td> -->
                            <td >
                                <div *ngFor="let profile of allData">
                                    <div *ngIf="profile.adminId == data.announcementSendby">
                            <td>{{profile.adminEmail}}</td>
            </div>
        </div>
        </td>
        <td>
            <span (click)="viewAnnouncement(data)"data-toggle="modal" data-target="#exampleModal" class="fa-solid fa-eye"
            style="font-size:24px;color: #6197f5;"></span>
        </td>
        <td *ngIf="buttonsArray.showDeleteButton" (click)="deleteAnnouncementById(data.id)"><span
            class='fas fa-trash-alt' style='font-size:24px;color: red;'></span>
        </td>
        </tr>
        </tbody>
        </table>
    </div>
</div>

<!-- sent panel -->
<div class="d-flex flex-row mb-3">
    <h4 *ngIf="outgoingAnnoucements.length>0">Sent</h4>
    <div class="table-wrapper">
        <table class="table table-bordered table-hover">

            <thead class="table-dark">

                <tr *ngIf="outgoingAnnoucements.length>0">

                    <th scope="col">Subject</th>
                    <th scope="col">Message</th>
                    <th  scope="col">View</th>
                    <!-- <th scope="col">Sent By</th> -->
                    <th scope="col">Delete</th>

                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let data of outgoingAnnoucements; let i=index">

                    <td (click)="viewAnnouncement(data)" >
                        {{data.announcementTitle}}
                    </td>
                    <td  >
                        {{data.announcementMessage}}
                    </td>
                    <!-- <td>{{data.announcementTo}}</td> -->
                    <!-- <td (click)="viewAnnouncement(data)" data-toggle="modal" data-target="#exampleModal">
                <ng-container *ngFor="let profile of allData">
                    <div *ngIf="profile.adminId == data.announcementSendby">
                      <td>{{profile.adminEmail}}</td>
                    </div>
                   
                  </ng-container>
                </td> -->
                <td>
                    <span (click)="viewAnnouncement(data,'sent')"data-toggle="modal" data-target="#exampleModal" class="fa-solid fa-eye"
                    style="font-size:24px;color: #6197f5;"></span>
                </td>
                
                    <td (click)="deleteAnnouncementById(data.id)"><span
                        class='fas fa-trash-alt' style='font-size:24px;color: red;'></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</div>
</div>
<router-outlet></router-outlet>

