
.table-wrapper {
    height: 350px;
    overflow: auto;
  }

.container {
    margin-top: 10px;
}

button {
    margin-bottom: 10px;
}

td {
    white-space: nowrap;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.myheader {
    border: 1px groove grey;
    background-color: aqua;
}

.myheader h1 {
    text-align: center;

}
.topright {
    position: absolute;
    top: 30px;
    right: 105px;

}




.top-right-buttons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
 
}

.top-right-buttons button {
    margin-left: 10px;
}



.container {
    margin-top: 10px;
}

table th {
    background-color: #435D7D;
    text-align: center;
    color: white;
    border: 1px groove black;
}

table td {
    text-align: center;
}

.btn {
    border-radius: 15px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

  .table-wrapper {
    position: relative;
    height: 350px; /* set a fixed height for the table container */
    overflow: auto; /* add scrollbars if necessary */
  }
  
  .table-wrapper table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-wrapper thead th {
    position: sticky;
    top: 0;
   
    color: #fff;
    z-index: 1; /* make sure the header appears above the table body */
  }
  

.buttons {
    margin-top: 20px;
}

.header {
    margin-top: -15px;
    /* margin-bottom: -5px; */
}