<div class="container">
    <h1>Admin Portal</h1>

    <button class="btn btn-info" (click)="RedirectTOLogin()" style="margin-left: 1100px;">Logout</button>
    <div class="row">
        <div class="col-md-3">

            <button id="demo" class="btn btn-info" (click)="RedirectTOAuth()">Auth User</button>

        </div>

        <div class="col-md-3">

            <button id="demo" class="btn btn-info" (click)="RedirectToInstituteAdminProfile()">InstituteAdmin
                Profile</button>

        </div>

        <div class="col-md-3">

            <button id="demo" class="btn btn-info" (click)="RedirectToCourse()">Course</button>

        </div>

        <div class="col-md-3">

            <button id="demo" class="btn btn-info" (click)="RedirectToAdminDept()">Admin Department</button>

        </div>
    </div>




</div>