@import url("../../app.component.css");

*/ html,
body {

    height: 100%;
}

.header {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px 10px;
}

h1 {
    color: rgb(255, 255, 255);

}

.myheader {
    border: 1px groove grey;
    background-color: aqua;
}

.myheader h1 {
    text-align: center;

}

body {
    margin: 0;
    /* background: linear-gradient(45deg, #49a09d, #5f2c82); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: sans-serif;
    font-weight: 100;
}

table {
    margin-top: 20px;
}