.btn-secondary:hover {
    background-color: red !important;
    border-radius: 15px !important;
}
.modal-body {
    font-size: 16px;
}
.btn-primary:hover {
    background-color: green !important;
    border-color: green !important;
    
    border-radius: 15px !important;
}
.btn-primary {
    border-radius: 15px !important;
}
.btn-secondary {
    border-radius: 15px !important;
}



.modal-content {
    border: 1px solid #ccc;
    border-radius: 60px !important;
}
.messagemodal {
    border: 7px solid rgb(39, 3, 242);
    width: 400px;
    /* border-radius: 60px !important; */
    overflow: hidden; /* Add this to hide the inner border */

}

.warning-icon {
    color: red;
}
.info-icon{
    color:blue;
}
.decision-icon{
    color:goldenrod;
}
.messagemodal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 60px !important; */
}
.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}