<div class="container">
    <!-- <h1 class="text-left">Assign Course To Teacher</h1>
    <button class="form-control" class="btn btn-primary top-right rounded-button" (click)=" back()"
        style="margin-left: 20px;">Back</button> -->

    <app-module-header [moduleName]="moduleName"
        [buttons]="{showAddButton:showAddButton,showActivateButton:showActivateButton}"
        (backButtonClicked)="back()"></app-module-header>

    <div class="container">
        <div class="form-group row">
            <div class="col-sm-4">
                <label class="badg">Institution</label>
                <div class="form-group">
                    <select [(ngModel)]="_profile.institutionId" class="form-control"
                        (click)=" getDepartmentByInstId(_profile.institutionId); getProfileByRoleAndInstId(_profile.institutionId)">
                        <option value="undefined" selected>Select</option>
                        <option *ngFor="let institute of institutions" value="{{institute.adminInstitutionId}}"
                            class="dropdown-item">
                            {{institute.adminInstitutionName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div><label>Department</label></div>
                <div class="form-group">
                    <select name="departmentid" [(ngModel)]="department.id" class="form-control"
                        (click)=" getCoursesByDeptId(department.id)">
                        <option value="undefined" selected>Select</option>
                        <option *ngFor="let department of departments" value="{{department.id}}">
                            {{department.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="badg">Course</label>
                <div class="form-group">
                    <select name="courseid" [(ngModel)]="course.courseId" class="form-control"
                        (click)="onCourseSelect(course.courseId)">
                        <option value="undefined" selected>Select</option>
                        <option *ngFor="let courseObj of courses" [value]="courseObj.courseId">
                            {{courseObj.courseName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="first-row-child">
                    <label class="badg">Teacher Name</label>
                    <div class="form-group">
                        <ng-select [items]="_profileArray" bindLabel="fullName" [searchable]="true"
                            [closeOnSelect]="false" bindValue="adminId" placeholder="Select Teacher" [clearable]="true"
                            appendTo="body" [multiple]="true" [(ngModel)]="selected" [selectableGroup]="true"
                            [selectableGroupAsModel]="false" [virtualScroll]="true">


                            <ng-template ng-multi-label-tmp>
                                <span style="display:block" class="ng-value" *ngFor="let teacher of selected">
                                    <ng-container *ngFor="let profile of _profileArray">
                                        <ng-container *ngIf="profile.adminId==teacher">
                                            {{profile.firstName}}
                                        </ng-container>
                                    </ng-container>
                                </span>
                            </ng-template>
                            <!-- code to display checkbox  -->
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" value="item$"
                                    [checked]="assignTeacherArr.includes(item.adminId)" [disabled]="enrolledUsers.includes(item.adminId)" (change)="onChangeSelectedProfiles($event,item$)"/>
                                {{item.fullName}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-block row justify-content-between col-sm-12">
            <div class="col-sm-3">
                <button #submitButton class="form-control" id="loginbtn" class="btn btn-primary rounded-button "
                    (click)="saveAssignTeacher(course.courseId,_profile.adminId); getSelectedValue()"
                    title="Save Course">Submit</button>
            </div>
        </div>

    </div>

</div>
