<div class="container-fluid">

    <div class="header1">
        <h1> INSTITUTE ADMIN </h1>
    </div>
    <table class="table table-striped">
        <thead class="table-header">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Institution Id</th>
                <th>User Id </th>
                <th>User Role</th>
                <th>Activate</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let _instituteAdmin of _instituteAdminArray">
                <td>
                    <div class="form-group">

                        <input type="text" class="form-control" value="{{_instituteAdmin.firstName}}"
                            name="{{_instituteAdmin.firstName}}" disabled>
                    </div>
                </td>
                <td>
                    <div class="form-group">

                        <input type="text" class="form-control" value="{{_instituteAdmin.lastName}}"
                            name="{{_instituteAdmin.lastName}}" disabled>
                    </div>
                </td>
                <td>
                    <div class="form-group">

                        <input type="text" class="form-control" value="{{_instituteAdmin.adminEmail}}"
                            name="{{_instituteAdmin.adminEmail}}" disabled>
                    </div>
                </td>
                <td>
                    <div class="form-group">

                        <input type="text" class="form-control" value="{{_instituteAdmin.adminDepartment}}"
                            name="{{_instituteAdmin.adminDepartment}}" disabled>
                    </div>
                </td>

                <td>

                    <div class="form-group">

                        <input type="text" class="form-control" value="{{_instituteAdmin.institutionId}}"
                            name="{{_instituteAdmin.institutionId}}" disabled>
                    </div>
                </td>

                <td>
                    <div class="form-group">

                        <input type="text" class="form-control" value="{{_instituteAdmin.userId}}"
                            name="{{_instituteAdmin.userId}}" disabled>
                    </div>
                </td>
                <td>
                    <div class="form-group">

                        <input type="text" class="form-control" value="{{_instituteAdmin.userRole}}"
                            name="{{_instituteAdmin.userRole}}" disabled>
                    </div>
                </td>
                <td><button class="btn btn-success" (click)="activateProfile(_instituteAdmin.adminId)">
                        Activate</button></td>


            </tr>
        </tbody>

    </table>

    <button class="btn btn-primary" (click)="Home()">Back</button>


</div>