button {
    margin: 2px;
}

.container {
    margin-top: 10px;
}

table th {
    background-color: #566787;
    text-align: center;
    color: white;
    border: 1px groove black;
}

table td {
    text-align: center;
}

.btn {
    border-radius: 15px;
}

.buttons {
    margin-top: 20px;
}

.header {
    margin-top: -15px;
    margin-bottom: -5px;
}


video {
    display: inline-block;
    vertical-align: baseline;
    width: -webkit-fill-available;
}