canvas {
    /* width: 100% !important;
    height: 100% !important; */
    /* width: 100% ;
    height: 100% ; */
    max-width: 300px;
    font-color:black;
    display: block;
    box-sizing: border-box;
    height: 350px!important;
    width: 350px !important;
    max-width: 350px !important;
  }
  

  #canvasContainer { 
    width: 350px;
    height:168px
  }