<html>

<body>
    <div class="header">
        <a href="#default" class="logo">Courses</a>
        <div class="header-right">

            <button (click)="Add()" class="icon" title="Add Course">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#E0E0E0"
                    class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                </svg>
            </button>
            <button (click)="Home()" class="icon" title="Back">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#E0E0E0"
                    class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                    <path
                        d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
                </svg>
            </button>

            <button class="btn btn-success" (click)="activationScreen()">
                InActive Courses</button>

        </div>
    </div>
    <div class="container">

        <div class="container-fluid" *ngIf="!isActivationScreen">
            <div class="header1">
                <h1 class="heading"></h1>
            </div>
            <table class="table" border="1">
                <thead>
                    <tr>

                        <th>Name</th>
                        <th>Description</th>
                        <th>Code</th>
                        <th>Type</th>
                        <th>Passing Score</th>
                        <th>Institute Name</th>
                        <th>Department Name</th>


                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="isVisible">


                        <td>
                            <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="course.courseName"
                                    value="{{course.courseName}}" readonly />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="course.courseDescription"
                                    value="{{course.courseDescription}}" readonly />
                            </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="course.courseCode"
                                    value="{{course.courseCode}}" readonly />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="course.courseType"
                                    value="{{course.courseType}}" readonly />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control" type="number" [(ngModel)]="course.passingScore"
                                    value="{{course.passingScore}}" readonly />
                            </div>
                        </td>

                        <td>
                            <div class="form-group">

                                <!-- <input class="form-control" type="number" [(ngModel)]="course.instId"
                                value="{{course.instId}}" readonly /> -->
                                <select [(ngModel)]="course.instId" class="form-control" [disabled]="controlEnabled">
                                    <option *ngFor="let institute of institutions"
                                        value="{{institute.adminInstitutionId}}"
                                        [selected]="institute.adminInstitutionId == course.instId ? true:null">
                                        {{institute.adminInstitutionName}}
                                    </option>
                                </select>

                            </div>
                        </td>



                        <td>
                            <div class="form-group">
                                <button class="form-control icon" (click)="updatecourse(course,course.courseName)"
                                    title="Update Course">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue"
                                        class="bi bi-pen-fill" viewBox="0 0 16 16">
                                        <path
                                            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                                    </svg>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <button class="form-control icon" (click)="deletecourseById(course)"
                                    title="Delete Course">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                    </svg></button>
                            </div>
                        </td>
                    </tr>




                    <tr *ngFor="let course of courses,let i=index">
                        <td>
                            <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="course.courseName"
                                    value="{{course.courseName}}" readonly />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="course.courseDescription"
                                    value="{{course.courseDescription}}" readonly />
                            </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="course.courseCode"
                                    value="{{course.courseCode}}" readonly />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="course.courseType"
                                    value="{{course.courseType}}" readonly />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control" type="number" [(ngModel)]="course.passingScore"
                                    value="{{course.passingScore}}" readonly />
                            </div>
                        </td>

                        <!-- <td>
                            <div class="form-group">

                                 <input class="form-control" type="number" [(ngModel)]="course.instId"
                                value="{{course.instId}}" readonly /> 
                                <select [(ngModel)]="course.instId" class="form-control" [disabled]="controlEnabled">
                                    <option *ngFor="let institute of institutions"
                                        value="{{institute.adminInstitutionId}}"
                                        [selected]="institute.adminInstitutionId == course.instId ? true:null">
                                        {{institute.adminInstitutionName}}
                                    </option>
                                </select>


                            </div>
                        </td> -->

                        <td>
                            <div class="form-group">

                                <ng-container *ngFor="let institute of institutions">
                                    <input *ngIf="course.instId==institute.adminInstitutionId?true:null"
                                        class="form-control" type="text" value="{{institute.adminInstitutionName}}"
                                        readonly />
                                </ng-container>

                            </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <ng-container *ngFor="let courseDept of courseDepartments">
                                    <ng-container *ngFor="let dept of adminDepartments">
                                        <input
                                            *ngIf="((course.courseId==courseDept.courseId)&&(dept.id==courseDept.departmentId))?true:null"
                                            class="form-control" type="text" value="{{dept.name}}" readonly />
                                    </ng-container>
                                </ng-container>
                            </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <button class="form-control icon" (click)="updatecourse(course,course.courseName)"
                                    title="Update Course">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue"
                                        class="bi bi-pen-fill" viewBox="0 0 16 16">
                                        <path
                                            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                                    </svg></button>
                            </div>
                        </td>
                        <!-- <td>
                            <div class="form-group">
                                <button class="form-control icon" (click)="deletecourse(course)" title="Delete Course">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                    </svg>
                                </button>
                            </div>
                        </td> -->
                        <td>
                            <div class="form-group">
                                <button class="form-control icon" (click)="deletecourseById(course)"
                                    title="Delete Course">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

            <!-- {{adminDepartments|json}} -->

            <!-- <button class="btn btn-primary" (click)="Home()">Back</button> -->
        </div>
    </div>

    <div class="container" *ngIf="isActivationScreen">
        <div>
            <h1 style="color: white">InActive Courses</h1>
        </div>
        <table class="table" border="1">
            <thead>
                <tr>

                    <th>Name</th>
                    <th>Description</th>
                    <th>Course Code</th>
                    <th>Course Type</th>
                    <th>Passing Score</th>
                    <th>Institute Name</th>
                    <th>Department Name</th>
                    <th>Activate</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of inActiveCourses">

                    <td>
                        <div class="form-group">
                            <input class="form-control" type="text" [(ngModel)]="course.courseName"
                                value="{{course.courseName}}" readonly />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input class="form-control" type="text" [(ngModel)]="course.courseDescription"
                                value="{{course.courseDescription}}" readonly />
                        </div>
                    </td>

                    <td>
                        <div class="form-group">
                            <input class="form-control" type="text" [(ngModel)]="course.courseCode"
                                value="{{course.courseCode}}" readonly />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input class="form-control" type="text" [(ngModel)]="course.courseType"
                                value="{{course.courseType}}" readonly />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input class="form-control" type="number" [(ngModel)]="course.passingScore"
                                value="{{course.passingScore}}" readonly />
                        </div>
                    </td>

                    <td>
                        <div class="form-group">

                            <ng-container *ngFor="let inst of institutions">
                                <input *ngIf="course.instId==inst.adminInstitutionId?true:null" class="form-control"
                                    type="text" value="{{inst.adminInstitutionName}}" readonly />
                            </ng-container>

                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <ng-container *ngFor="let courseDepts of courseDepartments">
                                <ng-container *ngFor="let depts of adminDepartments">
                                    <input
                                        *ngIf="((course.courseId==courseDepts.courseId)&&(depts.id==courseDepts.departmentId))?true:null"
                                        class="form-control" type="text" value="{{depts.name}}" readonly />
                                </ng-container>
                            </ng-container>
                        </div>
                    </td>





                    <td>
                        <div class="form-group">
                            <button class="form-control btn-success" (click)="activateCourse(course.courseId)"
                                title="activate Course">Activate
                            </button>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
        <!-- <td><button class="btn btn-primary" (click)="backToCourse()">Back</button></td> -->
    </div>
</body>

</html>