
<div class="container-fluid">

    <div class="Heading">
        <h1>Institute Admin Details</h1>
    </div>
                        <table class="table table-striped" id="tbl1">
                            <tr>
                            <th>Admin Id</th>
                            <td>{{_instituteAdmin.adminId}}</td>
                        </tr>

                            <tr>
                            <th>Active User</th>
                            <td>{{_instituteAdmin.activeUser}}</td>
                            </tr>

                            
                            <tr>
                            <th>Admin Address1</th>
                            <td>{{_instituteAdmin.adminAddress1}}</td>
                            </tr>

                            <tr>
                                <th>Admin Address2</th>
                                <td>{{_instituteAdmin.adminAddress2}}</td>
                            </tr>
                            
                            
                            <tr>
                            <th>Admin City</th>
                            <td>{{_instituteAdmin.adminCity}}</td>
                            </tr>

                            <tr>
                            <th>Admin Department</th>
                            <td>{{_instituteAdmin.adminDepartment}}</td>
                            </tr>

                            <tr>
                            <th>Admin Email</th>
                            <td>{{_instituteAdmin.adminEmail}}</td>
                            </tr>

                            <tr>
                            <th>Admin Gender</th>
                            <td>{{_instituteAdmin.adminGender}}</td>
                            </tr>

                            <tr>
                            <th>Admin State</th>
                            <td>{{_instituteAdmin.adminState}}</td>
                            </tr> 

                            <tr>
                                <th>Admin Zip</th>
                                <td>{{_instituteAdmin.adminZip}}</td>
                            </tr> 
    
                            <tr>
                                <th>Created By</th>
                                <td>{{_instituteAdmin.createdBy}}</td>
                            </tr> 
    
                            <tr>
                                <th>Created On</th>
                                <td>{{_instituteAdmin.createdOn}}</td>
                            </tr> 

                            <tr>
                                <th>DOB</th>
                                <td>{{_instituteAdmin.dob}}</td>
                            </tr> 
                            
                            <tr>
                                <th>First Name</th>
                                <td>{{_instituteAdmin.firstName}}</td>
                            </tr> 
    
                            <tr>
                                <th>Last Name</th>
                                <td>{{_instituteAdmin.lastName}}</td>
                            </tr> 
    
                            <tr>
                                <th>Institution Id</th>
                                <td>{{_instituteAdmin.institutionId}}</td>
                            </tr> 
                            
                            <tr>
                                <th>Mobile Phone</th>
                                <td>{{_instituteAdmin.mobilePhone}}</td>
                            </tr> 

                            <tr>
                                <th>Modified By</th>
                                <td>{{_instituteAdmin.modifiedBy}}</td>
                            </tr> 

                            <tr>
                                <th>Modified On</th>
                                <td>{{_instituteAdmin.modifiedOn}}</td>
                            </tr> 
                          
                            <tr>
                                <th>User Id</th>
                                <td>{{_instituteAdmin.userId}}</td>
                            </tr> 
                          
                            <tr>
                                <th>User Role</th>
                                <td>{{_instituteAdmin.userRole}}</td>
                            </tr> 
                          


    
                            
                         <!--   <tr>
                            <li>{{emp | json}}</li>
                            <td>{{admin.roleId}}</td>
                            <td>{{admin.active}}</td>
                            <td>{{admin.roleName}}</td>
                            <td>{{admin.roleDescription}}</td>
                            <td>{{admin.createdBy}}</td>
                            <td>{{admin.createdOn}}</td>
                            <td>{{admin.modifiedBy}}</td>
                            <td>{{admin.modifiedOn}}</td>
                            
                            </tr>-->

                            <button class="btn btn-primary" (click)="goBack()">Back</button>
                        
                        </table>
</div>
