/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
    background-image: url('../../../assets/img/addbooks.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    font-size: 1.5rem;
}

#loginbtn {
    /* margin-left: 36%;
    margin-top: 10%; */

}

#backbtn {
    margin-left: 97%;
    background-color: transparent;
    border: none;
    padding-top: 2%;
}

.container {
    height: 80%;
    align-content: center;
    overflow: hidden;
}

.card {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
    text-align: -webkit-center;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
    font-size: 1.3rem;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.h-100 {

    justify-content: center !important;
}

label {
    color: white;
}

.two-col {
    overflow: hidden;
    /* Makes this div contain its floats */

}

.two-col .col1,
.two-col .col2 {
    width: 49%;
}

.two-col .col1 {
    float: left;
}

.two-col .col2 {
    float: right;
}

.two-col label {
    display: block;
}

.first-row {
    /* border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.last-row {

    display: grid;

    justify-content: center;

}

/* .first-row-child {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  } */

.form-control {

    font-size: 1.3rem;

}