<!DOCTYPE html>
<html lang="en">


<head>
    <title>Login Page</title>




    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="updatecourse.component.css">



    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

</head>

<body>
    <div class="container">
        <button id="backbtn" (click)="back()" title="back">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#E8E8E8"
                class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                <path
                    d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
            </svg>
        </button>

        <div class="d-flex  h-100">
            <div class="card">
                <div class="card-header">
                    <h3>UPDATE COURSE</h3>

                </div>
                <div class="card-body">


                    <div class="first-row">
                        <div class="first-row-child">
                            <div><label>Course Name</label></div>
                            <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="course.courseName"
                                    value="{{course.courseName}}" />
                            </div>
                        </div>
                        <div class="first-row-child">
                            <div><label> Course Description</label></div>

                            <div class="form-group">
                                <textarea class="form-control" type="text" [(ngModel)]="course.courseDescription"
                                    value="{{course.courseDescription}}">
                        </textarea>
                            </div>
                        </div>

                        <div class="first-row-child">
                            <div><label>Course Code </label></div>
                            <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="course.courseCode"
                                    value="{{course.courseCode}}" />
                            </div>
                        </div>
                    </div>
                    <div class="first-row">
                        <div class="first-row-child">
                            <div><label>Course Type</label></div>
                            <div class="form-group">
                                <input class="form-control" type="text" [(ngModel)]="course.courseType"
                                    value="{{course.courseType}}" />
                            </div>
                        </div>
                        <div class="first-row-child">
                            <div><label>Passing Score</label></div>
                            <div class="form-group">
                                <input class="form-control" type="number" [(ngModel)]="course.passingScore"
                                    value="{{course.passingScore}}" />
                            </div>
                        </div>
                        <div class="first-row-child">
                            <div><label>Institute Name</label></div>
                            <div class="form-group">

                                <select [(ngModel)]="course.instId" class="form-control" disabled>
                                    <option *ngFor="let institute of institutions"
                                        value="{{institute.adminInstitutionId}}"
                                        [selected]="institute.adminInstitutionId == course.instId ? true:null">
                                        {{institute.adminInstitutionName}}
                                    </option>
                                </select>
                            </div>
                        </div>


                        <div class="first-row-child">
                            <label for="departmentName">Department Name</label>
                            <!-- <select name="departmentid" class="form-control"
                                [(ngModel)]="courseDepartment.departmentId">

                                <ng-container *ngFor="let department of adminDepartments">
                                    <option *ngIf="(department.institutionId==course.instId)?true:null"
                                        [value]="department.id">
                                        {{department.name}}
                                    </option>
                                </ng-container>
                            </select> -->

                            <div class="form-group">
                                <ng-container *ngFor="let courseDept of courseDepartments">
                                    <ng-container *ngFor="let dept of adminDepartments">
                                        <input
                                            *ngIf="((course.courseId==courseDept.courseId)&&(dept.id==courseDept.departmentId))?true:null"
                                            class="form-control" type="text" value="{{dept.name}}" readonly />
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                    </div>
                    <div class="last-row">
                        <div class="form-group">
                            <button class="form-control" id="loginbtn" class="btn  login_btn"
                                (click)="updateCourse(course)" title="Update Course">Update</button>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>

    <!-- {{course|json}}
    {{courseDepartment|json}} -->


</body>


</html>