.h-100 {
    height: 100%!important;
    margin-top: 15% !important;
    /* line-height: 3.4 !important; */
}

.card {

    min-width: 35% !important;

    background-color: #ad80e7a6 !important;
    border: #570085 !important;
    border-style: solid !important;
    border-width: thick !important;
}
body {
    background-image: url('assets/img/LMS_IMAGE.jpg'); /* Replace 'path-to-your-image.jpg' with the actual path to your image */
    background-size: cover; /* This will cover the entire viewport */
    background-repeat: no-repeat; /* Prevent image repetition */
}

h4{
    font-size: 3rem !important;
    font-weight: 700 !important;
    margin-left: 15%;
}

.card-body{
    font-size: 1.9rem !important;
}

.form-control{
    height: 34px !important;
    font-weight: 400 !important;
    font-size: 1.5rem !important;
}

.btn-primary{
    height: 3rem;
    margin-top: 5%;
    width: 8rem;
    font-size: 1.5rem;
    margin-left: 40%;
}

#backbtn{
    border: none;
    background: transparent;
    margin-left: 100%;
    margin-top: 2%;
}