<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Registration Form in HTML CSS</title>
</head>

<body>
    <section class="container">
        <header>Add New Institute</header>
        <div class="form">
            <div class="input-box">
                <label>Institute Name</label>
                <input type="text" [(ngModel)]="admininstitution.adminInstitutionName"
                    value="{{admininstitution.adminInstitutionName}}">
            </div>

            <div class="column">
                <div class="input-box">
                    <label>Description</label>
                    <textarea rows="4" cols="50" type="text" [(ngModel)]="admininstitution.adminInstitutionDescription"
                        value="{{admininstitution.adminInstitutionDescription}}"></textarea>
                </div>

            </div>
            <div>
                <label>Picture</label>
                <input type="file" [(ngModel)]="admininstitution.adminInstitutionPicture"
                    value="{{admininstitution.adminInstitutionPicture}}">
            </div>


            <div>
                <button class="button" (click)="addInstitution(admininstitution)">Submit</button>
            </div>
        </div>
    </section>
</body>

</html>