<div class="container">

    <div class="header1">
        <h1>Create Profile</h1>
    </div>

    <form #adduserform="ngForm" (ngSubmit)="addInstituteAdmin()">
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="institutionName">Institution Name</label>
                <select name="institutionid" class="form-control" [(ngModel)]="_instituteAdmin.institutionId">
                    <option value="undefined">Select</option>
                    <option *ngFor="let inst of adminInstitutions" [value]="inst.adminInstitutionId">
                        {{inst.adminInstitutionName}}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="departmentName">Department Name</label>
                <select name="departmentname" class="form-control" [(ngModel)]="_instituteAdmin.adminDepartment">
                    <option value="undefined">Select</option>
                    <ng-container *ngFor="let department of adminDepartments">
                        <option *ngIf="department.institutionId==_instituteAdmin.institutionId?true:null"
                            [value]="department.id">
                            {{department.name}}
                        </option>
                    </ng-container>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="userName">User Name</label>
                <select name="userid" class="form-control" [(ngModel)]="_instituteAdmin.userId"
                    (change)="getCurrentAuthUser(_instituteAdmin.userId)">
                    <option value="undefined">Select</option>
                    <option *ngFor="let authUser of authUsersData" value="{{authUser.authUserId}}">
                        {{authUser.authUserFirstName}} {{authUser.authUserLastName}} - {{authUser.authUserName}}
                    </option>
                </select>
            </div>

        </div>
        <div class="form-group">
            <div class="form-group col-md-3">
                <label for="userRole">User Role</label>
                <select name="userrole" class="form-control" [(ngModel)]="_instituteAdmin.userRole" required>
                    <option value="undefined">Select</option>
                    <option *ngFor="let role of adminRoles" value="{{role.roleName}}">
                        {{role.roleName}}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">First Name</label>
                <input name="firstname" type="text" class="form-control" id="firstname"
                    [(ngModel)]="_instituteAdmin.firstName" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">Last Name</label>
                <input name="lastname" type="email" class="form-control" id="lastname"
                    [ngModel]="_instituteAdmin.lastName" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">Email Address</label>
                <input name="email" type="email" class="form-control" id="email"
                    [(ngModel)]="_instituteAdmin.adminEmail" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group col-md-3">
                <label for="DOB">Date Of Birth</label>
                <input name="dob" type="date" class="form-control" id="dob" [(ngModel)]="_instituteAdmin.dob" required>
            </div>
            <div class="form-group col-md-2">
                <label for="gender">Gender</label>
                <select name="gender" class="form-control" id="gender" [(ngModel)]="_instituteAdmin.adminGender"
                    required>
                    <option value="undefined">Select</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>

            </div>
            <div class="form-group col-md-3">
                <label for="phoneNumber">Phone Number</label>
                <input name="phonenumber" type="number" class="form-control" id="phonenumber"
                    [(ngModel)]="_instituteAdmin.mobilePhone" required>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group col-md-6">
                <label for="inputAddress2">Address</label>
                <input name="address1" [(ngModel)]="_instituteAdmin.adminAddress1" type="text" class="form-control"
                    id="address1" placeholder="1234 Main St">
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress2">Address 2</label>
                <input name="address2" type="text" [(ngModel)]="_instituteAdmin.adminAddress2" class="form-control"
                    id="address2" placeholder="Apartment, studio, or floor">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputState">State</label>
                <input name="state" type="text" class="form-control" id="inputState"
                    [(ngModel)]="_instituteAdmin.adminState" required>
            </div>
            <div class="form-group col-md-3">
                <label for="inputCity">City</label>
                <input name="city" type="text" class="form-control" id="inputCity"
                    [(ngModel)]="_instituteAdmin.adminCity" required>
            </div>

            <div class="form-group col-md-3">
                <label for="inputZip">Zip</label>
                <input name="zipcode" type="number" class="form-control" id="inputZip"
                    [(ngModel)]="_instituteAdmin.adminZip" required>
            </div>
        </div>
        <div class="form-group col-md-3"><label for="profilePic">Profile Picture</label>
            <input name="profilepic" type="file" class="form-control" id="profilepic"
                [(ngModel)]="_instituteAdmin.profilePics" (change)="onFileSelected($event)" required>
        </div>
        <div class="form-group col-md-12">
            <div class="form-check">
                <input name="isactive" class="form-check-input" type="checkbox" id="isactive"
                    [(ngModel)]="_instituteAdmin.activeUser" (change)="onChangeIsActive()">
                <label class="form-check-label align-middle" for="gridCheck">Active status</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary"
                    [class.active]="_instituteAdmin.activeUser">{{submitButton}}</button>
                <button type="button" (click)="backToDisplayScreen()" class="btn btn-primary">Back</button>
            </div>

        </div>
    </form>
</div>
<!-- {{_instituteAdmin|json}}
{{inactiveProfiles|json}} -->
<!-- {{_instituteAdmin.profilePics}} -->