<div class="container">
    <h1>Admin Form</h1>
    <h4>Add new Student...!</h4>
    <form #adduserform="ngForm" (ngSubmit)="_addInstituteAdmin()">



        <h6>Active User</h6>
        <div class="form-group">

            <input type="checkbox" id="chk" class="form-control" required [(ngModel)]="_instituteAdmin.activeUser"
                name="_instituteAdmin.activeUser">
        </div>

        <h6>Address1</h6>
        <div class="form-group">

            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminAddress1"
                name="_instituteAdmin.adminAddress1">
        </div>

        <h6>address2</h6>
        <div class="form-group">

            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminAddress2"
                name="_instituteAdmin.adminAddress2">
        </div>

        <h6>city</h6>
        <div class="form-group">

            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminCity"
                name="_instituteAdmin.adminCity">
        </div>

        <h6>Depratment</h6>
        <div class="form-group">

            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminDepartment"
                name="_instituteAdmin.adminDepartment">
        </div>

        <h6>Email</h6>
        <div class="form-group">

            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminEmail"
                name="_instituteAdmin.adminEmail">
        </div>

        <h6>Gender</h6>
        <div class="form-group">
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminGender"
                name="_instituteAdmin.adminGender">
        </div>

        <h6>State</h6>
        <div class="form-group">

            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminState"
                name="_instituteAdmin.adminState">
        </div>

        <h6>Pincode</h6>
        <div class="form-group">

            <input type="number" class="form-control" required [(ngModel)]="_instituteAdmin.adminZip"
                name="_instituteAdmin.adminZip">
        </div>


        <h6>DOB</h6>
        <div class="form-group">

            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.dob"
                name="_instituteAdmin.dob">
        </div>

        <h6>First Name</h6>
        <div class="form-group">

            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.firstName"
                name="_instituteAdmin.firstName">
        </div>

        <h6>Last Name</h6>
        <div class="form-group">

            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.lastName"
                name="_instituteAdmin.lastName">
        </div>

        <h6>institutionId</h6>
        <div class="form-group">

            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.institutionId"
                name="_instituteAdmin.institutionId">
        </div>

        <h6>Phone Number</h6>
        <div class="form-group">

            <input type="number" class="form-control" required [(ngModel)]="_instituteAdmin.mobilePhone"
                name="_instituteAdmin.mobilePhone">
        </div>

        <h6>Profile Pics</h6>
        <div class="form-group">

            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.profilePics"
                name="_instituteAdmin.profilePics">
        </div>

        <h6>userId</h6>
        <div class="form-group">

            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.userId"
                name="_instituteAdmin.userId">
        </div>

        <h6>userRole</h6>
        <div class="form-group">

            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.userRole"
                name="_instituteAdmin.userRole">
        </div>



        <button type="submit" class="btn btn-success" id="btn1">Submit</button>&nbsp;&nbsp;
        <!--<button type="submit" class="btn btn-primary" (click)="goBack()">back</button>-->

    </form>



</div>