.btn {
    border-radius: 15px;
}

.buttons {
    margin-top: 20px;
}

.header {
    margin-top: -15px;
    margin-bottom: -5px;
}

img {
    width: 300px;
    height: 200px;
    object-fit: contain;
}