<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus'></i>
            <span class="logo_name">UHPOC</span>
        </div>
        <ul class="nav-links">

            <li>
                <div class="form-group">
                    <button class="form-control btn btn-success" (click)="module()">view modules</button>
                </div>
            </li>

            <li>
                <div class="form-group">
                    <button class="form-control btn btn-success" (click)="category()">view Category for
                        Quiz</button>
                </div>
            </li>




        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <span class="dashboard">Admin Dashboard</span>
            </div>


        </nav>


    </section>
    <h1>hello</h1>
</body>