<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus'></i>
            <span class="logo_name">UHPOC</span>
        </div>
        <ul class="nav-links">

            <li>
                <div class="form-group">
                    <button class="form-control btn btn-success" (click)="module()">view modules</button>
                </div>
            </li>

            <li>
                <div class="form-group">
                    <button class="form-control btn btn-success" (click)="category()">view Category for
                        Quiz</button>
                </div>
            </li>

            <li>
                <div class="form-group">
                    <button class="form-control btn btn-success" (click)="addModule()">Add Module</button>
                </div>
            </li>

            <li>
                <div class="form-group">
                    <button class="form-control btn btn-success" (click)="addCategory()">Add
                        Category</button>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <span class="dashboard">Admin Dashboard</span>
            </div>


        </nav>


    </section>
    <h1>hello</h1>
</body>

</html>