.Heading{
    width: 107%;
    }
  
    table{
        border: 1px groove black;
        margin-top: 10px;
        font-size: 12px;
        
    }
    
    table tr{
        text-align: center;
        height: 40px;
        
    }
    
    table th{
        text-align: center;
        margin-top: 10px;
        border: 1px groove grey;
    
    }
    
    table td{
        border: 1px  groove black;
    }
    
    
    
    #head{
        border: 1px groove red;
        background-color: dodgerblue;
        color: white;
        font-size: 12px;
    }
    
    .container {
        padding-right: 0px; 
        padding-left: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }