<div class="container-fluid">



    <div class="container">
        <div class="Heading">
            <h1>INSTITUTE ADMIN CRUD OPERATIONS</h1>

        </div>


        <form #adduserform="ngForm" style="width: 150em;">
            <table>
                <tr id="head">
                    <th> Id</th>
                    <th>Active Status</th>
                    <th>Address1</th>
                    <th>Address2</th>
                    <th>City</th>
                    <th>Department</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>DOB</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Institution Id</th>

                    <th>Mobile Number</th>
                    <th>Updated By</th>
                    <th>Updated Date</th>
                    <th>Profile Pics </th>
                    <th>User Id </th>
                    <th>User Role</th>
                    <th colspan="3">Actions</th>
                </tr>
               
                <tr *ngFor="let _instituteAdmin of _instituteAdmin" >
                  
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminId"
                                name="adminId" readonly>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="checkbox" class="form-control" required [(ngModel)]="_instituteAdmin.activeUser"
                                name="activeUser" disabled>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminAddress1"
                                name="adminAddress1">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminAddress2"
                                name="adminAddress2">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminCity"
                                name="adminCity">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required
                                [(ngModel)]="_instituteAdmin.adminDepartment" name="adminDepartment">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminEmail"
                                name="adminEmail">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminGender"
                                name="adminGender">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminState"
                                name="adminState">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminZip"
                                name="adminZip">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.createdBy"
                                name="createdBy">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.createdOn"
                                name="createdOn">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.dob"
                                name="dob">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.firstName"
                                name="firstName">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.lastName"
                                name="lastName">
                        </div>
                    </td>
                    <td>

                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.institutionId"
                                name="institutionId">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.mobilePhone"
                                name="mobilePhone">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.modifiedBy"
                                name="modifiedBy">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.modifiedOn"
                                name="modifiedOn">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.profilePics"
                                name="profilePics">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.userId"
                                name="userId">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.userRole"
                                name="userRole">
                        </div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" id="btn1">Add</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" id="btn1"
                            (click)="_updateInstituteAdmin(_instituteAdmin.firstName,_instituteAdmin)">Update</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" id="btn1" (click)="_deletInstituteAdmin(_instituteAdmin.firstName)">Delete</button>
                    </td>
             
                </tr>
            
            </table>
        </form>

    </div>
</div>