<div class="container-fluid">
    <div class="header1">
        <h1>Institute Departments</h1>
    </div>
    <table class="table" border="1px">
        <thead id="deptHeader">
            <tr>


                <th>Department Name</th>
                <th>Description</th>




            </tr>


        </thead>



        <tbody>
            <tr *ngFor="let dept of departments">
                <td>{{ dept.name }}</td>
                <td>{{ dept.description }}</td>




            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="Display()">Back</button>