<div class="container-fluid">
    <div class="header1">
        <h1>{{admininstitution.adminInstitutionName}} Departments</h1>
    </div>

    <button (click)="addDepartment()">Add Department</button>
    <table class="table" border="1px">
        <thead id="deptHeader">
            <tr>


                <th>Department Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>


        </thead>



        <tbody>
            <tr *ngFor="let dept of departments">
                <td>{{ dept.name }}</td>
                <td>{{ dept.description }}</td>
                <td> <button type="button" id="btn1" (click)="viewDepartment(dept.id)">View</button></td>




            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="Display()">Back</button>