<!DOCTYPE html>
<html lang="en">


    <head>
        <title>Login Page</title>




        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <!--Bootsrap 4 CDN-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!--Fontawesome CDN-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <!--Custom styles-->
        <link rel="stylesheet" type="text/css" href="updatequiz.component.css">
        <!-- <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container mt-3">
  <h2>Login form</h2>
  <form (ngSubmit)="userLogin()">
    <div class="mb-3 mt-3">
      <label for="email">UserName:</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="authUser.authUserName"placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" [(ngModel)]="authUser.authUserPassword" placeholder="Enter password" name="pswd">
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body> -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

    </head>

    <body>
        <div class="container-fluid">

            <div class="myheader">
                <h1>Update Quiz</h1>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-4">


                        </div>

                        <!-- <div class="col-md-8">
                            <button id="backbtn" (click)="back()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                    class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                                </svg>
                            </button>
                        </div> -->

                    </div>




                </div>


            </div>




            <!-- Adding tha new Css for create Quiz-->

            <div class="container-fluid">


                <div class="sub-heading">

                    <div class="row">

                        <!--Column no 1-->
                        <div class="col-md-12">
                            <div class="row">
                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>Title</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="_quiz.title" type="text"
                                                    name="title" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->


                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>Description</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="_quiz.description" type="text"
                                                    name="description" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->

                            </div>

                        </div>
                        <!--End of column 1-->


                        <!--Column 2 start-->

                        <div class="col-md-12">
                            <div class="row">
                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>Url</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="_quiz.url" type="text"
                                                    name="url" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->


                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>MaxQuestions</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="_quiz.maxQuestions" type="text"
                                                    name="maxQuestions" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->

                            </div>

                        </div>



                        <!--end of column 2-->


                        <!--Column 3 starts-->

                        <div class="col-md-12">
                            <div class="row">
                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>Pass Mark</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="_quiz.passMark" type="text"
                                                    name="passMark" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->


                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>Success Text</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="_quiz.successText" type="text"
                                                    name="successText" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->

                            </div>

                        </div>



                        <!--Column 3 End-->


                        <!--Column 4-->

                        <div class="col-md-12">
                            <div class="row">
                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>Fail Text</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="_quiz.failText" type="text"
                                                    name="failText" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->


                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>QuizOrderNo</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="_quiz.quizOrderNo" type="text"
                                                    name="quizOrderNo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->

                            </div>

                        </div>




                        <!--end of column 4-->


                        <!--Column 5-->


                        <div class="col-md-12">
                            <div class="row">
                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>Course ID</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control" [(ngModel)]="_quiz.courseId">
                                                    <option *ngFor="let course of _courseArray" name="courseId"
                                                        [selected]="_quiz.courseId == course.courseId ">
                                                        {{course.courseName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->


                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>Module ID</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control" [(ngModel)]="_quiz.moduleId">
                                                    <option *ngFor="let module of _moduleArray" name="moduleId"
                                                        [selected]="_quiz.moduleId == module.moduleId ">
                                                        {{module.moduleName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->

                            </div>

                        </div>



                        <!--column 5 end-->

                        <!--Column 6-->

                        <div class="col-md-12">
                            <div class="row">
                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>Category ID</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control" [(ngModel)]="_quiz.categoryId">
                                                    <option *ngFor="let category of _categoryArray" name="categoryId"
                                                        [selected]="_quiz.categoryId == category.categoryId ">
                                                        {{category.categoryName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->


                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>Random Order</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="_quiz.randomOrder"
                                                    type="checkbox" name="randomOrder" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->

                            </div>

                        </div>






                        <!--Column 6 end-->



                        <!--Col 7 start-->

                        <div class="col-md-12">
                            <div class="row">
                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>AnswersAtEnd</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="_quiz.answersAtEnd"
                                                    type="checkbox" name="answersAtEnd" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->


                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>ExamPaper</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="_quiz.examPaper"
                                                    type="checkbox" name="examPaper" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->

                            </div>

                        </div>



                        <!--Col 7 end-->



                        <!--col-8 starts-->

                        <div class="col-md-12">
                            <div class="row">
                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>SingleAttempt</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="_quiz.singleAttempt"
                                                    type="checkbox" name="singleAttempt" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->


                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>Draft</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="_quiz.draft" type="checkbox"
                                                    name="draft" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->

                            </div>

                        </div>





                        <!--col 8 end-->



                        <!--col 9 start -->
                        <div class="col-md-12">
                            <div class="row">
                                <!--Adding the one part of column col-md-6-->
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>Active</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="_quiz.active" type="checkbox"
                                                    name="active" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Col-md-6 closed-->


                                <!--Adding the one part of column col-md-6-->
                                <!-- <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a>draft</a>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" [(ngModel)]="_quiz.draft" type="checkbox"
                                                    value="{{_quiz.draft}}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!--Col-md-6 closed-->

                            </div>

                        </div>




                        <!--col-9 end-->

                        <div class="row">
                            <div class="col-md-4" id="btndemo">
                                <button class="btn btn-primary" (click)="updateQuiz(_quiz)">Update</button>

                                <button class="btn btn-primary" style="margin-left: 20px;"
                                    (click)="back()">Back</button>

                            </div>

                        </div>









                    </div>

                </div>
            </div>



            <!--Closing the new CSS For Create Quiz-->

            <!--Old CSS for create Quiz-->
            <!--<div class="d-flex  h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>ADD Quiz</h3>

                    </div>

                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12">

                            </div>

                        </div>

                        <h4>title</h4>
                        <div class="form-group">
                            <input class="form-control" [(ngModel)]="_quiz.title" type="text" value="{{_quiz.title}}" />
                        </div>

                        <h4>description</h4>
                        <div class="form-group">
                            <input class="form-control" [(ngModel)]="_quiz.description" type="text"
                                value="{{_quiz.description}}" />
                        </div>

                        <h4>url</h4>
                        <div class="form-group">
                            <input class="form-control" [(ngModel)]="_quiz.url" type="text" value="{{_quiz.url}}" />
                        </div>


                        <h4>maxQuestions</h4>
                        <div class="form-group">
                            <input class="form-control" [(ngModel)]="_quiz.maxQuestions" type="text"
                                value="{{_quiz.maxQuestions}}" />
                        </div>








                        <h4>passMark</h4>
                        <div class="form-group">
                            <input class="form-control" [(ngModel)]="_quiz.passMark" type="text"
                                value="{{_quiz.passMark}}" />
                        </div>

                        <h4>successText</h4>
                        <div class="form-group">
                            <input class="form-control" [(ngModel)]="_quiz.successText" type="text"
                                value="{{_quiz.successText}}" />
                        </div>

                        <h4>failText</h4>
                        <div class="form-group">
                            <input class="form-control" [(ngModel)]="_quiz.failText" type="text"
                                value="{{_quiz.failText}}" />
                        </div>



                        <h4>quizOrderNo</h4>
                        <div class="form-group">
                            <input class="form-control" [(ngModel)]="_quiz.quizOrderNo" type="text"
                                value="{{_quiz.quizOrderNo}}" />
                        </div>

                        <h4>courseId</h4>
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="_quiz.courseId">
                                <option *ngFor="let course of _courseArray" value="{{course.courseId}}"
                                    [selected]="_quiz.courseId == course.courseId ">
                                    {{course.courseName}}
                                </option>
                            </select>
                        </div>

                        <h4>moduleId</h4>
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="_quiz.moduleId">
                                <option *ngFor="let module of _moduleArray" value="{{module.moduleId}}"
                                    [selected]="_quiz.moduleId == module.moduleId ">
                                    {{module.moduleName}}
                                </option>
                            </select>
                        </div>

                        <h4>categoryId</h4>
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="_quiz.categoryId">
                                <option *ngFor="let category of _categoryArray" value="{{category.categoryId}}"
                                    [selected]="_quiz.categoryId == category.categoryId ">
                                    {{category.categoryName}}
                                </option>
                            </select>
                        </div>


                        <div class="row">
                            <div class="col-md-4" style="text-align: center;">
                                <h4>randomOrder</h4>
                            </div>

                            <div class="col-md-4" style="text-align: center;">
                                <h4>answersAtEnd</h4>
                            </div>

                            <div class="col-md-4" style="text-align: center;">
                                <h4>examPaper</h4>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input class="form-control" [(ngModel)]="_quiz.randomOrder" type="checkbox"
                                        value="{{_quiz.randomOrder}}" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input class="form-control" [(ngModel)]="_quiz.answersAtEnd" type="checkbox"
                                        value="{{_quiz.answersAtEnd}}" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input class="form-control" [(ngModel)]="_quiz.examPaper" type="checkbox"
                                        value="{{_quiz.examPaper}}" />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4" style="text-align: center;">
                                <h4>singleAttempt</h4>
                            </div>

                            <div class="col-md-4" style="text-align: center;">
                                <h4>draft</h4>
                            </div>

                            <div class="col-md-4" style="text-align: center;">
                                <h4>active</h4>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input class="form-control" [(ngModel)]="_quiz.singleAttempt" type="checkbox"
                                        value="{{_quiz.singleAttempt}}" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input class="form-control" [(ngModel)]="_quiz.draft" type="checkbox"
                                        value="{{_quiz.draft}}" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input class="form-control" [(ngModel)]="_quiz.active" type="checkbox"
                                        value="{{_quiz.active}}" />
                                </div>
                            </div>

                        </div>




                        <button class="btn btn-primary" id="submitbtn" (click)="addQuiz(_quiz)">Add</button>


                    </div>
                </div>
            </div>-->
        </div>
    </body>

</html>