<div class="container">
    <button id="backbtn" title="back" (click)="back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#E8E8E8"
            class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
            <path
                d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
        </svg>
    </button>

    <div class="d-flex  h-100">
        <div class="card">
            <div class="card-header">
                <h3>Assign Teacher To Course</h3>

            </div>
            <div class="card-body">


                <div class="first-row">
                    <div class="first-row-child">
                        <div><label>Institution</label></div>
                        <div class="form-group">
                            <select [(ngModel)]="_profile.institutionId" class="form-control"
                                (click)=" getDepartmentByInstId(_profile.institutionId); getProfileByRoleAndInstId(_profile.institutionId)">
                                <option *ngFor="let institute of institutions" value="{{institute.adminInstitutionId}}"
                                    [selected]="institute.adminInstitutionId " class="dropdown-item">
                                    {{institute.adminInstitutionName}}
                                </option>
                            </select>




                        </div>
                    </div>

                    <!-- <div class="first-row-child">
                            <div><label>Institution</label></div>
                            <div class="form-group">

                                <ng-select [items]="institutions" bindLabel="adminInstitutionName" [searchable]="true"
                                    [closeOnSelect]="false" bindValue="adminInstitutionName"
                                    placeholder="Select Institutions" [clearable]="true" appendTo="body"
                                    [multiple]="true" [(ngModel)]="_profile.institutionId" [selectableGroup]="true"
                                    [selectableGroupAsModel]="false" [virtualScroll]="true"
                                    [addTag]=" getDepartmentByInstId(_profile.institutionId); getProfileByRoleAndInstId(_profile.institutionId)">

                                
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" />
                            {{item.adminInstitutionName}}
                        </ng-template>
                        </ng-select>

                    </div>
                </div> -->

                    <div class="first-row-child">
                        <div><label>Department</label></div>

                        <div class="form-group">
                            <select name="departmentid" [(ngModel)]="department.id" class="form-control"
                                (click)=" getCoursesByDeptId(department.id)">
                                <option *ngFor="let department of departments" value="{{department.id}}"
                                    [selected]="department.id">
                                    {{department.name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="first-row-child">
                        <div><label>Course</label></div>
                        <div class="form-group">
                            <select name="courseid" [(ngModel)]="course.courseId" class="form-control">
                                <option *ngFor="let courseObj of courses" [value]="courseObj.courseId">
                                    {{courseObj.courseName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="first-row">
                    <div class="first-row-child">
                        <div><label>Teacher Name</label></div>
                        <div class="form-group">
                            <!-- <select [(ngModel)]="_profile.adminId" class="form-control" multiple>
                                    <option *ngFor="let profile of _profileArray" value="{{profile.adminId}}"
                                        [selected]="profile.adminId">
                                        {{profile.firstName}} {{profile.lastName}} - {{profile.adminEmail}}
                                    </option>
                                </select> -->
                            <!-- <ng-select [items]="_profile.adminId" placeholder="Select Category" appendTo="body"
                                    [multiple]="true" [(ngModel)]="_profileArrCopy">
                                </ng-select> -->

                            <!-- <ng-select [virtualScroll]="true" [items]="_profileArray" bindLabel="fullName"
                                    [searchable]="true" [closeOnSelect]="false" bindValue="adminId"
                                    placeholder="Select Students" [clearable]="true" appendTo="body" [multiple]="true"
                                    [(ngModel)]="selected"> -->


                            <ng-select [items]="_profileArray" bindLabel="fullName" [searchable]="true"
                                [closeOnSelect]="false" bindValue="adminId" placeholder="Select Students"
                                [clearable]="true" appendTo="body" [multiple]="true" [(ngModel)]="selected"
                                groupBy="selectedAllGroup" [selectableGroup]="true" [selectableGroupAsModel]="false"
                                [virtualScroll]="true">

                                //code to display select all checkbox
                                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />
                                    Select
                                    All
                                </ng-template>

                                <!-- code to disable display of selected students in input field -->
                                <ng-template ng-multi-label-tmp>
                                    <span style="display:block" class="ng-placeholder">Select Teacher</span>
                                </ng-template>

                                <!-- <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />
                                        Select All
                                    </ng-template> -->



                                <!-- code to display checkbox  -->
                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" />
                                    {{item.fullName}}
                                </ng-template>
                            </ng-select>

                            <!-- <ng-select [items]="categories" bindLabel="name" placeholder="Select Category"
                                    appendTo="body" [multiple]="true" [(ngModel)]="selected">
                                </ng-select> -->
                        </div>
                    </div>
                </div>

                <div class="last-row">
                    <div class="form-group">
                        <!-- <button class="form-control" id="loginbtn" class="btn  login_btn">SAVE</button> -->
                        <button class="form-control" id="loginbtn" class="btn  login_btn"
                            (click)="saveAssignTeacher(course.courseId,_profile.adminId); getSelectedValue()"
                            title="Update Course">SAVE</button>
                    </div>
                </div>








            </div>


        </div>
    </div>
</div>