<div class="header">
    <h1>Add Department</h1>
</div>
<div class="container">
    <h6>Name</h6>
    <div class="form-group">
        <input class="form-control" id="input1" [(ngModel)]="department.name" type="text" value="{{department.name}}" />
    </div>

    <h6>description</h6>
    <div class="form-group">
        <input class="form-control" id="input1" [(ngModel)]="department.description" type="text"
            value="{{department.description}}" />
    </div>

    <h6>active</h6>
    <div class="form-group">
        <input class="form-control" id="input1" [(ngModel)]="department.active" type="checkbox" checked />
    </div>

    <h6>institutionId</h6>
    <div class="form-group">
        <select id="input1" class="form-control" [(ngModel)]="department.institutionId">
            <option *ngFor="let inst of adminInstitutions" value="{{inst.adminInstitutionId}}"
                [selected]="department.institutionId==inst.adminInstitutionId?true:null">
                {{inst.adminInstitutionName}} - {{inst.adminInstitutionId}}
            </option>
        </select>
    </div>



    <button class="btn btn-primary" id="addbtn" (click)="addDepartment(department)">Add</button>

    <button class="btn btn-primary" style="margin-left: 30px;" id="addbtn" (click)="HomeBtn()">back</button>


</div>