<h6>id</h6>
<div class="form-group">
    <input class="form-control" [(ngModel)]="department.id" type="number" value="{{department.id}}" disabled />
</div>

<h6>Name</h6>
<div class="form-group">
    <input class="form-control" [(ngModel)]="department.name" type="text" value="{{department.name}}" />
</div>

<h6>description</h6>
<div class="form-group">
    <input class="form-control" [(ngModel)]="department.description" type="text" value="{{department.description}}" />
</div>

<h6>active</h6>
<div class="form-group">
    <input class="form-control" [(ngModel)]="department.active" type="checkbox" checked />
</div>

<h6>institutionId</h6>
<div class="form-group">
    <select class="form-control" [(ngModel)]="department.institutionId">
        <option *ngFor="let inst of adminInstitutions" value="{{inst.adminInstitutionId}}"
            [selected]="department.institutionId==inst.adminInstitutionId?true:null">
            {{inst.adminInstitutionName}} - {{inst.adminInstitutionId}}
        </option>
    </select>
</div>



<button class="btn btn-primary" id="addbtn" (click)="addDepartment(department)">Add</button>