.submitbutton {
    margin-top: 2rem;
    background-color: #2e6da4;
    color: white;
}

.submitbutton:hover {
    background-color: #122b40;
    color: white;
}

.jumbotron {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}