.submitbutton {
    margin-top: 2rem;
    background-color: #2e6da4;
    color: white;
}

.jumbotron {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    margin: 2px;
}

.container {
    margin-top: 10px;
}

.innercontainer {
    margin-top: 10px;
}

table th {
    background-color: #566787;
    text-align: center;
    color: white;
    border: 1px groove black;
}

table td {
    text-align: center;
}

.btn {
    border-radius: 15px;
}