<div class="container">
    <div>
        <ng-container *ngIf="viewAll">
            <div class="row justify-content-between">
                <div class="col-sm-6">
                    <ng-container *ngTemplateOutlet="title; context: {$implicit: moduleName }"></ng-container>
                </div>
                <div class="col-sm-6 text-right">
                    <ng-container *ngTemplateOutlet="addButton;"></ng-container>
                    <!-- <ng-container *ngTemplateOutlet="activateButton;"></ng-container> -->
                    <ng-container *ngTemplateOutlet="backButton;"></ng-container>

                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="viewAdd || viewOne || viewUpdate || viewActivate">
            <div class="row justify-content-between">
                <div class="col-sm-6">
                    <ng-container *ngTemplateOutlet="title; context: {$implicit: moduleName }"></ng-container>
                </div>
                <div class="col-sm-6 text-right">
                    <ng-container *ngTemplateOutlet="backButton;"></ng-container>
                </div>
            </div>
        </ng-container>
        <ng-container *ngTemplateOutlet="dropdowns"></ng-container>

        <ng-container *ngIf="viewAll">
            <ng-container *ngTemplateOutlet="viewall;"></ng-container>
        </ng-container>

        <ng-container *ngIf="viewAdd">
            <ng-container *ngTemplateOutlet="viewadd;"></ng-container>
        </ng-container>

        <ng-container *ngIf="viewUpdate">
            <ng-container *ngTemplateOutlet="viewupdate;"></ng-container>
        </ng-container>

        <ng-container *ngIf="viewOne">
            <ng-container *ngTemplateOutlet="viewone;"></ng-container>
        </ng-container>

        <ng-container *ngIf="viewActivate">
            <ng-container *ngTemplateOutlet="viewactivate;"></ng-container>
        </ng-container>

    </div>
</div>


<ng-template #title let-headerTitle>
    <h1>{{headerTitle}}</h1>
</ng-template>

<ng-template #addButton>
    <button class="btn btn-primary" (click)="onAddClick()">Add</button>
</ng-template>

<ng-template #backButton>
    <button class="btn btn-primary" (click)="back()">Back</button>
</ng-template>

<ng-template #activateButton>
    <button class="btn btn-primary" (click)="onActivateClick()">Inactive</button>
</ng-template>

<ng-template #viewall>
    <app-view-all *ngIf="allData.length>0" [data]="{moduleData:this.allData, columnNames:this.columnNames}"
        [dropdown]="{quizzes,categories}" [idsColumnName]="{columnName:primaryIdColumnName}" [isViewAllScreen]="true"
        (viewClicked)="onChildViewClick($event)" (deleteClicked)="onChildDeleteClick($event)">
    </app-view-all>

</ng-template>

<ng-template #viewactivate>
    activate screen
</ng-template>


<ng-template #viewadd>
    <div class="container">
        <h3 class="text-center">Add Quiz Questions</h3>
        <ng-container
            *ngIf="selectedQuizId!='undefined' && selectedQuizId!='' && selectedQuizId!=null && selectedCategoryId!='undefined'  && selectedCategoryId!='' && selectedCategoryId!=null">
            <ng-container
                *ngFor="let queAns of questionAnswers | paginate: { itemsPerPage: 1, currentPage: currentPage }">
                <form #myForm="ngForm" (ngSubmit)="onFormSubmit(queAns)">
                    <div class="jumbotron">
                        <h4>Question : {{ currentPage }}</h4>
                        <label class="float-label">Figure</label>
                        <input name="queFigure{{currentPage}}" type="file" [(ngModel)]="queAns['questionFigure']"
                            class="form-control">
                        <label class="float-label">Question</label>
                        <input name="queContent{{currentPage}}" type="text" [(ngModel)]="queAns['questionContent']"
                            class="form-control" required="">
                        <label class="float-label">Explanation</label>
                        <textarea name="queExplanation{{currentPage}}" [(ngModel)]="queAns['questionExplanation']"
                            class="form-control" required=""></textarea>
                        <label class="float-label">Order Number</label>
                        <input name="queOrderNo{{currentPage}}" type="number" [(ngModel)]="queAns['questionOrderNo']"
                            class="form-control" required="">
                        <label class="float-label">Answer</label>
                        <textarea name="ansContent{{currentPage}}" [(ngModel)]="queAns['answerContent']"
                            class="form-control" required=""></textarea>
                        <!-- <label class="float-label"> Correct</label>
                <input name="ansCorrect" type="checkbox" [(ngModel)]="answer.correct"
                    class="form-control" required=""> -->
                        <div class="text-center" *ngIf="selectedQuizId">
                            <button class="btn submitbutton" type="submit" [disabled]="!myForm.valid">Submit</button>
                        </div>
                    </div>

                </form>
            </ng-container>
        </ng-container>
        <div class="text-center"
            *ngIf="selectedQuizId!='undefined' && selectedQuizId!='' && selectedQuizId!=null && selectedCategoryId!='undefined'  && selectedCategoryId!='' && selectedCategoryId!=null">
            <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
        </div>
    </div>

</ng-template>

<ng-template #viewone>

</ng-template>

<ng-template #viewupdate>

</ng-template>

<ng-template #dropdowns>
    <div class="row">
        <div class="col-sm-3">
            <h4>Select Course</h4>
            <select name="dropdown" (change)="onChangeCourse()" [(ngModel)]="selectedCourseId" class="form-control"
                required="">
                <option value="undefined" selected>Select Course</option>
                <option *ngFor="let option of courses" [ngValue]="option['courseId']">
                    {{ option['courseName'] }}
                </option>
            </select>
        </div>
        <div class="col-sm-3">
            <h4>Select Module</h4>
            <select name="dropdown" (change)="onChangeModule()" [(ngModel)]="selectedModuleId" class="form-control"
                required="" [disabled]="selectedCourseId==undefined || selectedCourseId=='undefined'">
                <option value="undefined" selected>Select Module</option>
                <option *ngFor="let option of modules | advFilter:'courseId_id':selectedCourseId" [ngValue]="
                        option['moduleId']">
                    {{ option['moduleName'] }}
                </option>
            </select>
        </div>
        <div class="col-sm-3">
            <h4>Select Category</h4>
            <select name="dropdown" (change)="onCategoryChange(selectedCategoryId)" [(ngModel)]="selectedCategoryId"
                class="form-control" required="">
                <option value="undefined">Select Category</option>
                <option *ngFor="let option of categories" [ngValue]="option['categoryId']">
                    {{ option['categoryName'] }}
                </option>
            </select>
        </div>
        <div class="col-sm-3">
            <h4>Select Quiz</h4>
            <select (change)="onChangeSelectedQuiz()" name="dropdown" [(ngModel)]="selectedQuizId" class="form-control"
                required="" [disabled]="selectedModuleId==undefined || selectedModuleId=='undefined'">
                <option value="undefined">Select Quiz</option>
                <option *ngFor="let option of quizzes  | advFilter:'moduleId':selectedModuleId"
                    [ngValue]="option.quizId">
                    {{ option['title'] }}
                </option>
            </select>
        </div>
    </div>
</ng-template>

<ng-template #submitbutton>
    <div class="card-block row justify-content-between col-sm-12">
        <div class="col-sm-3">
            <button class="btn btn-primary" (click)="onSubmitClicked(currentQuestions,currentAnswers)">Submit</button>
        </div>
    </div>
</ng-template>

<!-- {{modules|json}} -->