<div class="container-fluid">



    <div class="container">
        <div class="Heading">
            <h1> INSTITUTE ADMIN </h1>

        </div>


        <form #adduserform="ngForm" style="width: 150em;">
            <table>
                <tr id="head">

                    <th>Active Status</th>
                    <th>Address1</th>
                    <th>Address2</th>
                    <th>City</th>
                    <th>Department</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>DOB</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Institution Id</th>
                    <th>Mobile Number</th>

                    <th>Profile Pics </th>
                    <th>User Id </th>
                    <th>User Role</th>
                    <th colspan="3">Actions</th>
                </tr>
                <tr *ngIf="isHidden">



                    <td>
                        <div class="form-group">

                            <input type="checkbox" class="form-control" required
                                [(ngModel)]="_instituteAdmin.activeUser" name="_instituteAdmin.activeUser">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminAddress1"
                                name="_instituteAdmin.adminAddress1">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminAddress2"
                                name="_instituteAdmin.adminAddress2">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminCity"
                                name="_instituteAdmin.adminCity">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required
                                [(ngModel)]="_instituteAdmin.adminDepartment" name="_instituteAdmin.adminDepartment">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminEmail"
                                name="_instituteAdmin.adminEmail">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminGender"
                                name="_instituteAdmin.adminGender">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminState"
                                name="_instituteAdmin.adminState">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="number" class="form-control" required [(ngModel)]="_instituteAdmin.adminZip"
                                name="_instituteAdmin.adminZip">
                        </div>
                    </td>

                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.dob"
                                name="_instituteAdmin.dob">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.firstName"
                                name="_instituteAdmin.firstName">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.lastName"
                                name="_instituteAdmin.lastName">
                        </div>
                    </td>
                    <td>

                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.institutionId"
                                name="_instituteAdmin.institutionId">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="number" class="form-control" required [(ngModel)]="_instituteAdmin.mobilePhone"
                                name="_instituteAdmin.mobilePhone">
                        </div>
                    </td>

                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.profilePics"
                                name="_instituteAdmin.profilePics">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.userId"
                                name="_instituteAdmin.userId">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.userRole"
                                name="_instituteAdmin.userRole">
                        </div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" id="btn1"
                            (click)="_addInstituteAdmin(_instituteAdmin)">Add</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" id="btn1"
                            (click)="_updateInstituteAdmin(_instituteAdmin.firstName,_instituteAdmin)">Update</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" id="btn2"
                            (click)="_deletInstituteAdmin(_instituteAdmin.firstName)">Delete</button>
                    </td>

                </tr>
                <tr *ngFor="let _instituteAdmin of _instituteAdminArray">


                    <td>
                        <div class="form-group">

                            <input type="checkbox" class="form-control" required
                                [(ngModel)]="_instituteAdmin.activeUser" name="{{_instituteAdmin.activeUser}}" disabled>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminAddress1"
                                name="{{_instituteAdmin.adminAddress1}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminAddress2"
                                name="{{_instituteAdmin.adminAddress2}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminCity"
                                name="{{_instituteAdmin.adminCity}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required
                                [(ngModel)]="_instituteAdmin.adminDepartment"
                                name="{{_instituteAdmin.adminDepartment}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminEmail"
                                name="{{_instituteAdmin.adminEmail}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminGender"
                                name="{{_instituteAdmin.adminGender}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminState"
                                name="{{_instituteAdmin.adminState}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminZip"
                                name="{{_instituteAdmin.adminZip}}">
                        </div>
                    </td>

                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.dob"
                                name="{{_instituteAdmin.dob}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.firstName"
                                name="{{_instituteAdmin.firstName}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.lastName"
                                name="{{_instituteAdmin.lastName}}">
                        </div>
                    </td>
                    <td>

                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.institutionId"
                                name="{{_instituteAdmin.institutionId}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.mobilePhone"
                                name="{{_instituteAdmin.mobilePhone}}">
                        </div>
                    </td>

                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.profilePics"
                                name="{{_instituteAdmin.profilePics}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.userId"
                                name="{{_instituteAdmin.userId}}">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">

                            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.userRole"
                                name="{{_instituteAdmin.userRole}}">
                        </div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" id="btn1"
                            (click)="_addInstituteAdmin(_instituteAdmin)">Add</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" id="btn1"
                            (click)="_updateInstituteAdmin(_instituteAdmin.firstName,_instituteAdmin)">Update</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" id="btn2"
                            (click)="_deletInstituteAdmin(_instituteAdmin.firstName)">Delete</button>
                    </td>

                </tr>

            </table>
        </form>

    </div>
</div>