<div class="container">
    <div class="row justify-content-between">
        <div class="col-sm-6">
            <h1>View Department</h1>
        </div>

        <div class="col-sm-6 text-right">
            <!-- <button class="btn btn-danger" [routerLink]="['/add', viewOf]">Add</button> -->
            <button class="btn btn-primary" (click)="home()">Back</button>
        </div>
    </div>
    <app-view [data]="{moduleName:'Department' ,currentData:currentData , tableHeader:departmentHeader}"
        [dropdown1]="{optionsArray1:adminInstitutions ,dropdownColumnId1:'adminInstitutionId' , dropdownColumnName1:'adminInstitutionName'}"></app-view>

</div>