#chart-head{
    display: flex;
    align-items: center;
    justify-content: center; 

  }
  .chart {
    /* width: 300px; */
    padding-bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
    .color-wrapper {
      display: grid;
      margin-right: 10px;
    }
  
    .color-ref {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      transform: translateY(4px);
    }
  
    .chart-specs {
      display: grid;
      grid-template-columns: 20px calc(100% - 75px) 20px;
      line-height: 23px;
      margin-top: 30px;
      margin-left: 20px;
    }


  }    
 

  .instHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #c3baba; */
  }
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  

  .app-chartdata-ui {
  
        font: normal 12px sans-serif;
        max-width: 73%;
        /* background-color: #f1eff5; */
        /* background-color: #9ca5e2; */
        
        background-color:#bfc8ff;
        margin: 0 auto; /* Center horizontally using auto margins */
        padding: 1rem 0;
        border-radius: 6px;
        /* height: 36rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid #566787;
        flex-wrap: nowrap;
        margin-bottom: 2%; 
        margin-top:2%;
  }


  .vertical
  {
    position: relative;
    height: 125px;
    border-left: 1.6px solid black;
  
    top: 20px;
  }
.vertical::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}
/* .horizontal {
    position: absolute;
    bottom: -20px;
    right: 0;
    transform: translateY(-50%);
    width: 860px;
    height: 1px;
    background-color: black;
  

  }*/
  
 
  .horizontal {
    position: absolute;
    bottom: -20px;
    right: 0;
    transform: translateY(-50%);
    width: 95%; /* Set the width to 100% to span the entire width of the app-chartdata component */
    height: 1px;
    background-color: black;
  }
  .horizontal::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
  } 
  .course-progress {
    position: absolute;
    bottom: -40px;
    left: 45%;
    right: 0;
    margin: 0;
    font-style: bold;
    font-size: 1.3rem;
  }
  .agg-count{
    width: 10px;
    font-size: 1.3rem;
    transform: translateX(-650%);
  }


  /* modal popup css */
  


    /* modal popup css  end*/
    #nocourmsg{ 
      font-size: 45px;
  
      padding-right: 25%;
      padding-left: 30%;
    }

  
    .studProgTitle{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    
 

       /* font: normal 15px sans-serif;
      max-width: 99%;
       background-color: rgb(112 123 242 / 14%); 
      margin: 0 0%;
      padding: 1rem 0;
      border-radius: 6px;
      height: 36rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 5px solid #566787;
      border-radius: 10px;
      --chart-width: 300px; */

      

.app-chartdata-ui-bar{

    font: normal 15px sans-serif;
    max-width: 73%;
    /* width: 70%; */
    margin: 0 auto;
    padding: 1rem 0;
    border-radius: 6px;
    height: 36rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px solid #566787;
    border-radius: 10px;
    --chart-width: 300px;
}

.crossButton {
  position: absolute;
  top: 0;
  right: 0;
}
  #prevButton {
    width: 48px; /* set a fixed width */
    display: flex;
    justify-content: flex-start;
    visibility: visible; /* show the button */
  }
  
  #nextButton {
    width: 48px; /* set a fixed width */
    display: flex;
    justify-content: flex-end;
    visibility: visible; /* show the button */
    align-items: center;
   
   
  }
  
  .nextButtonchild{
    
  }

  
  /* hide the buttons when they are not needed */
  #app-chartdata-ui:not(:hover) #prevButton:not(:hover),
  #app-chartdata-ui:not(:hover) #nextButton:not(:hover) {
    visibility: hidden;
  }


.app-chartdata-ui-stud {
 

  font: normal 15px sans-serif;
  max-width: 73%;
  /* background-color:  #f1eff5; */
  /* background-color: #9ca5e2; */
  background-color:#bfc8ff;
  margin: 0 auto;
  /* padding: 1rem 0; */
  border-radius: 6px;
  /* height: 36rem; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  border: 5px solid #566787;
  border-radius: 10px;
  --chart-width: 300px; /* Set the default width for the horizontal line */

  
}

.doughnutcharts{
  display: flex;
   padding: 1rem 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  --chart-width: 300px; /* Set the default width for the horizontal line */

}
.app-chartdata-ui-stud h5 {
  margin-top: 0; /* Remove top margin to align the text to the top */
}




.chart-container {
  position: relative;
}

/* .lines-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; 
}

.horizontal-line,
.vertical-line {
  position: absolute;
  background-color: #000;
   pointer-events: none; 
}

.horizontal-line {
  width: 100%;
  height: 1px;
  bottom: 0;
}

.horizontal-line::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  bottom: -5px;
  right: -5px;
}

.vertical-line {
  width: 1px;
  height: 100%;
  top: 0;
}

.vertical-line::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -5px;
  left: -5px;
}

.label {
  position: absolute;
  top: -20px;
  left: -50%;
  font-size: 12px;
  transform: translateX(-50%);
}

.arrow {
  position: absolute;
  top: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-right: 10px solid transparent;
}

.arrow-horizontal {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 0;
  height: 0;
  border-left: 10px solid #000;
  border-top: 10px solid transparent;
} */
.chart-container {
  position: relative;
}

.lines-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; 
}

.horizontal-line,
.vertical-line {
  position: absolute;
  background-color: #000;
  pointer-events: none; 
}

.horizontal-line {
  width: 100%;
  height: 1px;
  bottom: 0;
}

/* .horizontal-line::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  bottom: -5px;
  right: -5px;
} */

.vertical-line {
  width: 1px;
  height: 100%;
  top: 0;
}

.label1 {
  position: absolute;
  top: 0;
  right: 100%;
  transform: translateY(300%);
}

/* .vertical-line::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
} */


.label {
  position: absolute;
  font-size: 12px;
  color: black;
}

.horizontal-label {
  top: 100%;
  left: auto;
  transform: translateX(-50%);
}



.horizontal-line::before,
.vertical-line::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px;
  border-color: transparent;
}

.horizontal-line::before {
  top: 50%;
  right: 0;
  border-left-color: #000;
  transform: translateX(100%) translateY(-50%);
}

.vertical-line::before {

    top: 0;
    right: -400%;
    border-bottom-color: #000;
    transform: translateX(50%);
    transform: translateY(-50%);
}
.selected-image {
  border: 5px solid #185bd9;
  padding: 10px;
}
th{
  padding:4rem;
  text-align:center;
}

th h5{
  font-size: 14px;
  padding-bottom: 1.5rem;
}
td h5{
  font-size:25px;
}
.backbtn{
  border-radius: 15px;
 
  margin-left: 45%;
  height: 3.5rem;
  margin-top: 2rem;
}

.fa-2xl {
  font-size: 3em;
}

img{
  width: 150px;
  height: 150px;
  vertical-align: middle;
}