.submitbutton {
    bottom: 0;
    position: absolute;
    right: 50px;
}

.jumbotron {
    position: relative;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    height: 455px;
    width: 960px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 178px;
}

.form-check-input {
    margin-right: 10px;
    margin-bottom: 30px;
}

.float-label {
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 16px;
}

.form-check-input {
    margin-left: 10%;
    margin-right: 5px;
}

.ngx-pagination {
    margin-left: 0;
    margin-bottom: 1rem;
    padding: 10px !important;
}