.object {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.pdf {
    border: 1px solid black;
    width: auto;
    height: auto;
}

object {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}