<div class="container text-center">
    <div class="pdf">
        <object class="object" data="../../../assets/sample.pdf#toolbar=0" type="application/pdf">

        </object>
    </div>
    <div class="pdf">
        <iframe class="object" src="../../../assets/sample.pdf#toolbar=0" onContextMenu="return true;">

        </iframe>
    </div>
    <div class="">
        <a href="../../../assets/sample.pdf#toolbar=0" oncontextmenu="return false;">Open PPT File</a>
    </div>
    <div class="col-sm">
        <a href="../../../assets/sample.pdf">Open PPT File 2</a>
    </div>
</div>