<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Registration Form in HTML CSS</title>
    </head>


    <body>
        <!-- {{admininstitution | json}} -->

        <section class="container">

            <header>Add New Institute</header>

            <div class="form" enctype="multipart/form-data" method="POST">
                <div class="input-box">
                    <label>Institute Name</label>
                    <input type="text" [(ngModel)]="admininstitution.adminInstitutionName"
                        (ngModelChange)="checkFields()" value="{{admininstitution.adminInstitutionName}}">
                </div>

                <div class="column">
                    <div class="input-box">
                        <label>Description</label>
                        <textarea rows="4" cols="50" type="text"
                            [(ngModel)]="admininstitution.adminInstitutionDescription" (ngModelChange)="checkFields()"
                            value="{{admininstitution.adminInstitutionDescription}}"></textarea>
                    </div>

                </div>
                <div class="input-box" style="border: none; ">
                    <label>Profile Picture</label>
                    <input type="file" id="image-name" (change)="onFileSelected($event)"
                        (ngModelChange)="checkFields()">

                </div>


                <div>
                    <button type="button" class="btn btn-primary"
                        (click)="addInstitution(admininstitution)">Submit</button>

                    <button type="button" class="btn btn-danger" (click)="Back()">Back</button>
                </div>
            </div>
        </section>
    </body>


</html>