<div class="design">
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Add Category</span>


                <div class="input-field">
                    <input type="text" placeholder="Category Name" [(ngModel)]="category.categoryName"
                        value="{{category.categoryName}}">

                </div>




                <div class="input-field button">
                    <button class="form-control btn btn-primary" (click)="addCategory(category)"
                        id="addbtn">Submit</button>

                </div>
                <div class="input-field button">
                    <button class="form-control btn btn-primary" (click)="Back()" id="addbtn">Back</button>

                </div>

            </div>





        </div>
    </div>
</div>