.btnn {
    margin-bottom: 20px;
    margin-left: 1000px;
}

@import url("../../app.component.css");

*/ html,
body {

    height: 100%;
}

.header {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px 10px;
}

h1 {
    color: rgb(255, 255, 255);

}

body {
    margin: 0;
    /* background: linear-gradient(45deg, #49a09d, #5f2c82); */
    background-image: url('../../../assets/img/bookimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: sans-serif;
    font-weight: 100;
}