<div class="container">
    <div class="Heading">
    <h1>Institute Admin Profile Form</h1>
    <h4>Add new Institute Admin Profile...!</h4>
    </div>
    <form #adduserform="ngForm" (ngSubmit)="_addInstituteAdmin()">

        
        <div class="form-group">
            <label for="Name">Active User</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.activeUser" name="activeUser">
        </div>
        <div class="form-group">
            <label for="Name">Admin Address1</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminAddress1" name="adminAddress1">
        </div>
        <div class="form-group">
            <label for="Name">Admin Address2</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminAddress2" name="adminAddress2">
        </div>
        
        <div class="form-group">
            <label for="Name">Admin City</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminCity" name="adminCity">
        </div>
    
        <div class="form-group">
            <label for="Name">Admin Department</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminDepartment" name="adminDepartment">
        </div>
    
        <div class="form-group">
            <label for="Name">Admin Email</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminEmail" name="adminEmail">
        </div>
    
        <div class="form-group">
            <label for="Name">Admin Gender</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminGender" name="adminGender">
        </div>
    
        <div class="form-group">
            <label for="Name">Admin State</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminState" name="adminState">
        </div>
        
        <div class="form-group">
            <label for="Name">Admin Zip</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.adminZip" name="adminZip">
        </div>
        
        
        <div class="form-group">
            <label for="Name">DOB</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.dob" name="dob">
        </div>
        
        <div class="form-group">
            <label for="Name">First Name</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.firstName" name="firstName">
        </div>
    
        <div class="form-group">
            <label for="Name">Last Name</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.lastName" name="lastName">
        </div>
        
        <div class="form-group">
            <label for="Name">Institution Id</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.institutionId" name="institutionId">
        </div>
        
        <div class="form-group">
            <label for="Name">Mobile Phone</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.mobilePhone" name="mobilePhone">
        </div>
    
        
        <div class="form-group">
            <label for="Name">Profile Pics</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.profilePics" name="profilePics">
        </div>
        <div class="form-group">
            <label for="Name">User Id</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.userId" name="userId">
        </div>
        <div class="form-group">
            <label for="Name">User Role</label>
            <input type="text" class="form-control" required [(ngModel)]="_instituteAdmin.userRole" name="userRole">
        </div>
        <button type="submit" class="btn btn-success" id="btn1">Submit</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary" (click)="goBack()">back</button>

    </form>
    

   

</div>