<h1>View Template</h1>
<table class="table table-striped">
    <tr>
        <th>Role Id</th>
        <th>Role Active</th>
        <th>Role Name</th>
        <th>Role description</th>
        <th>createdBy</th>
        <th>createdOn</th>
        <th>modifiedBy</th>
        <th>modifiedBy</th>

    </tr>
    <tr>
        <!--<li>{{emp | json}}</li>-->
        <td>{{_instituteadminprofile.activeUser}}</td>
        <td>{{_instituteadminprofile.adminAddress1}}</td>
        <td>{{_instituteadminprofile.adminAddress2}}</td>
        <td>{{_instituteadminprofile.adminCity}}</td>
        <td>{{_instituteadminprofile.adminDepartment}}</td>
        <td>{{_instituteadminprofile.adminEmail}}</td>
        <td>{{_instituteadminprofile.adminGender}}</td>
        <td>{{_instituteadminprofile.adminState}}</td>
        <td>{{_instituteadminprofile.adminZip}}</td>
        <td>{{_instituteadminprofile.dob}}</td>
        <td>{{_instituteadminprofile.firstName}}</td>
        <td>{{_instituteadminprofile.lastName}}</td>
        <td>{{_instituteadminprofile.institutionId}}</td>
        <td>{{_instituteadminprofile.mobilePhone}}</td>
        <td>{{_instituteadminprofile.profilePics}}</td>
        <td>{{_instituteadminprofile.userId}}</td>
        <td>{{_instituteadminprofile.userRole}}</td>



    </tr>



    <button class="btn btn-primary" (click)="goBack()">Back</button>

</table>