<div class="container">
    <!-- <h1 class="text-left">Enroll Course To Student</h1>
    <button class="btn btn-primary top-right rounded-button" (click)="back()">Back</button> -->

    <app-module-header [moduleName]="moduleName"
        [buttons]="{showAddButton:showAddButton,showActivateButton:showActivateButton}"
        (backButtonClicked)="back()"></app-module-header>
    <div class="container">
        <div class="form-group row">
            <div class="col-sm-4">
                <label class="badg">Institution</label>
                <div class="form-group">
                    <select [(ngModel)]="_profile.institutionId" class="form-control"
                        (click)=" getDepartmentByInstId(_profile.institutionId); getProfileByRoleAndInstId(_profile.institutionId)"
                        (change)="disablefunc()">
                        <option value="undefined" selected>Select</option>
                        <option *ngFor="let institute of institutions" value="{{institute.adminInstitutionId}}"
                            class="dropdown-item">
                            {{institute.adminInstitutionName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="badg">Department</label>
                <div class="form-group">
                    <select [(ngModel)]="department.id" class="form-control"
                        (click)="getCoursesByDeptId(department.id)">
                        <option value="undefined" selected>Select</option>
                        <option *ngFor="let department of departments" value="{{department.id}}">
                            {{department.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="badg">Course</label>
                <div class="form-group">
                    <select name="courseid" [(ngModel)]="course.courseId" class="form-control"
                        (click)="onCourseSelect(course.courseId)">
                        <option value="undefined" selected>Select</option>
                        <option *ngFor="let course of courses" value="{{course.courseId}}">
                            {{course.courseName}}
                        </option>
                    </select>
                </div>
            </div>


            <div class="first-row-child">
                <div class="col-sm-12">
                    <div class="first-row-child">
                        <label class="badg">Student Name</label>
                        <div class="form-group">
                            <ng-select [items]="_profileArray" bindLabel="fullName" [searchable]="true"
                                [closeOnSelect]="false" bindValue="adminId" placeholder="Select Students"
                                [clearable]="true" appendTo="body" [multiple]="true" [(ngModel)]="selected"
                                groupBy="selectedAllGroup" [selectableGroup]="true" [selectableGroupAsModel]="false"
                                [virtualScroll]="true" (change)="disablefunc()">
                                //code to display select all checkbox
                                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />
                                    Select
                                    All
                                </ng-template>
                                <!-- code to disable display of selected students in input field -->
                                <ng-template ng-multi-label-tmp>
                                    <span style="display:block" class="ng-value" *ngFor="let teacher of selected">
                                        <ng-container *ngFor="let profile of _profileArray">
                                            <ng-container *ngIf="profile.adminId==teacher">
                                                {{profile.firstName}}
                                            </ng-container>
                                        </ng-container>
                                    </span>
                                </ng-template>
                                <!-- code to display checkbox  -->
                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{index}}" type="checkbox"
                                        [checked]="item$.selected || enrolledStudentArr.includes(item.adminId)"
                                        [disabled]="enrolledStudentArr.includes(item.adminId)" />
                                    {{item.fullName}}
                                </ng-template>
                            </ng-select>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="card-block row justify-content-between col-sm-12">
            <div class="col-sm-3">
                <button #submitButton class="form-control" id="loginbtn" class="btn btn-primary rounded-button"
                    (click)="saveEnrolledStudent(course.courseId,_profile.adminId);"
                    [disabled]="!isFormComplete()">Submit</button>

            </div>
        </div>



    </div>
</div>