/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
    background-image: url('../img/dd4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: max-content;
    width: 100%;
    font-family: 'Numans', sans-serif;
    font-size: 1.5rem;
}

#loginbtn {
    margin-left: 36%;
    margin-top: 10%;

}

h4 {
    color: white;

}

input {
    font-size: 20px;
}

#backbtn {
    margin-left: 1100px;
}

.container-fluid {
    height: 100%;
    /*align-content: center;*/
}

.Header h3 {
    font-size: 40px;
    color: red;
}

.card {
    height: fit-content;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5) !important;
}



.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
    text-align: -webkit-center;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
    font-size: 1.3rem;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.h-100 {
    margin-left: 500px;
    margin-top: 40px;
}

label {
    color: white;
}

.two-col {
    overflow: hidden;
    /* Makes this div contain its floats */

}

.two-col .col1,
.two-col .col2 {
    width: 49%;
}

.two-col .col1 {
    float: left;
}

.two-col .col2 {
    float: right;
}

.two-col label {
    display: block;
}

.sub-heading {
    border: 1px groove grey;
}


.row {
    margin-top: 15px;
    margin-left: 20px;
}

.col-md-6 a {
    color: black;
    font-size: 17px;
}


input {
    height: 35px;

}

select {
    height: 35px !important;

}

#headdata {
    background-color: aqua;
    margin-top: 0px;
}


#btndemo {
    margin-left: 800px;
    padding: 10px;
}

#btndemo button {
    height: 40px;
    width: 100px;
}