<div class="container">
    <h1>Department - CRUD Operation</h1>
    <table class="table table-striped" border="1px">

        <thead>
            <button id="update" class="btn btn-primary" (click)="insertDept()">Add</button>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>description</th>
                <th>CreatedBy</th>
                <th>CreatedOn</th>
                <th>ModifiedBy</th>
                <th>ModifiedOn</th>
                <th>isActive</th>
                <th>Update</th>
                <th>Delete</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dept of _dept">
                <td>{{dept.id}}</td>
                <td>{{dept.name}}</td>
                <td>{{dept.description}}</td>
                <td>{{dept.createdBy}}</td>
                <td>{{dept.createdOn}}</td>
                <td>{{dept.modifiedBy}}</td>
                <td>{{dept.modifiedOn}}</td>
                <td>{{dept.active}}</td>
                <td> <button id="update" class="btn btn-primary" (click)="updateDept(dept.name)">Update</button></td>
                <td> <button id="delete" class="btn btn-primary" (click)="deleteDept(dept.name)">Delete</button>
                </td>
                <td> <button id="view" class="btn btn-primary" (click)="viewDept(dept.name)">View</button></td>
            </tr>
        </tbody>
    </table>

</div>