<div class="container-fluid">
    <div class="container">
        <!-- <div class="row justify-content-between header">

            <div class="col-sm-6">
                <h1>Institute Administration</h1>
            </div>
            <div class="col-sm-6 text-right buttons">
                <button class="btn btn-primary" (click)="addInstitute()">Add</button>
                <button class="btn btn-primary" (click)="redirectToActivateInstitution()">Inactive</button>
                <button class="btn btn-primary" (click)="Back()">Back</button>
            </div>
        </div> -->

        <app-module-header [moduleName]="moduleName"
            [buttons]="{showAddButton:showAddButton,showActivateButton:showActivateButton}"
            (addButtonClicked)="addInstitute()" (activateButtonClicked)="redirectToActivateInstitution()"
            (backButtonClicked)="back()"></app-module-header>

        <div class="container">
            <div class="row">
                <div class="col-sm-3 text-center" *ngFor="let institution of admininstitutions">
                    <div><img
                            [src]="'http://localhost:8090/admininstitution/uhpocms/getFileById/'+institution.adminInstitutionName "
                            (click)="display(institution.adminInstitutionId)" />
                    </div>

                    <div><button #btn1 id="demo" class="btn btn-primary institutebtn"
                            (click)="display(institution.adminInstitutionId)">{{institution.adminInstitutionName}}</button>
                    </div>
                    <div><button class="btn btn-danger institutebtn" id="deletebtn"
                            (click)="deleteInstitution(institution)">DeActivate</button>
                    </div>
                </div>

            </div>
        </div>


    </div>