<div class="container-fluid">
    <div class="container">
        <!-- <div class="row justify-content-between header">

            <div class="col-sm-6">
                <h1>Institute Administration</h1>
            </div>
            <div class="col-sm-6 text-right buttons">
                <button class="btn btn-primary" (click)="addInstitute()">Add</button>
                <button class="btn btn-primary" (click)="redirectToActivateInstitution()">Inactive</button>
                <button class="btn btn-primary" (click)="Back()">Back</button>
            </div>
        </div> -->

        <app-module-header [moduleName]="moduleName"
            [buttons]="{showAddButton:buttonsArray.showAddButton,showActivateButton:buttonsArray.showActivateButton}"
            (addButtonClicked)="addInstitute()" (activateButtonClicked)="redirectToActivateInstitution()"
            (backButtonClicked)="back()"></app-module-header>

        <div class="container">
            <div class="row">
                <div class="col-sm-3 text-center" *ngFor="let institution of admininstitutions">


                    <div><img src="{{displayUrl}}/{{institution.adminInstitutionId}} " />
                    </div>

                    <div><button #btn1 id="demo"
                            class="btn btn-primary institutebtn">{{institution.adminInstitutionName}}</button>
                    </div>
                    <div *ngIf="buttonsArray.showDeleteButton">
                        <button class="btn btn-danger institutebtn" id="deletebtn"
                            (click)="deleteInstitution(institution.adminInstitutionId)">Deactivate</button>
                    </div>

                </div>

            </div>
        </div>


    </div>