.row>div>select {
    border: 1px solid rgb(0, 0, 0);
}

.header {
    border-radius: 15px;
    background-color: rgb(43, 159, 226);
    /* height: 60px; */
    color: white;
    vertical-align: center;
}

.videoscreen {
    border: 4px solid black;
    width: 100%;
    height: 80%;
    border-radius: 6px;
}

select {
    width: 100%;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
}

select.form-select option {
    height: 40px;
    /* set the height as desired */
}

.module-list-container {
    max-height: 300px;
    /* Set the maximum height of the container */
    overflow-y: scroll;
    /* Add a vertical scroll bar when the content overflows */
    border: 4px solid black;
    /* Add a 1px solid border */
    border-radius: 10px;
}

.upperrow {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dropdown-toggle {
    width: 98%;
}

.modules {
    margin: 10px;
    width: 93%;
    border: 1px solid;
    border-radius: 10px;
}

ul {
    padding-inline-start: 5px;
    list-style-type: none;
}

li {
    cursor: pointer;
}

.container-fluid {
    height: 100%;
    overflow: auto;
    width: 100%;
    border: 10px solid darkblue;
    position: relative;
}

.btn {
    border-radius: 15px;
}

.sidebar {
    /* margin-top: -20px; */
    margin-top: 20px;
}

.backbtn {
    position: absolute;
    right: 30px;
}

.viewpanel {
    margin-top: 40px;
    /* border: 4px solid black;
    width: 992px;
    height: 544px; */
}

.fa-check-circle {
    color: green;
}