<div class="container-fluid">
    <div class="header text-center">
        <h1>{{selectedCourseName |titlecase}}</h1>
    </div>
    <div class="row text-right">
        <button class="btn btn-primary" (click)="back()">Back</button>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="form-group">
                <label for="course">Course Name</label><br>
                <select (change)="onCourseSelect(selectedCourse)" [(ngModel)]="selectedCourse" class="form-select"
                    aria-label="Default select example">
                    <option *ngFor="let course of courses" [value]="course.courseId">
                        {{course.courseName}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <label for="module">Module Name</label>
            <div class="module-list-container">
                <ng-container *ngFor="let module of modules">
                    <li class="list-group-item" *ngIf="selectedCourse==module.courseId_id"
                        (click)="changeSelectedModule(module.moduleId)">
                        {{module.moduleName}}
                    </li>
                </ng-container>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-8">
            <div *ngIf="selectedModule">
                <ng-container *ngFor="let file of studentModuleFiles">
                    <div *ngIf="selectedModule==file.moduleId">
                        <video class="videoscreen" controls>
                            <source src="../../../../assets/video/{{file.moduleFile}}" type="video/mp4">
                        </video>
                    </div>
                </ng-container>
            </div>
        </div>

    </div>
</div>