<div class="container-fluid">
    <div class="header1">
        <h1>Quiz Administration</h1>
    </div>



    <table class="table" border="1px">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Url</th>
                <th>Quiz Random Order</th>
                <th>Max Questions</th>
                <th>Answers At End</th>
                <th>Quiz Exam Paper</th>
                <th>Single Attempt</th>
                <th>Pass Mark</th>
                <th>Success Text</th>
                <th>Fail Text</th>
                <th>Draft</th>
                <th>Quiz Order No</th>
                <th>Course Name</th>
                <th>Module Name</th>
                <th>Category Name</th>
                <th>isActive</th>
                <th>Add</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="isHidden">

                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.title" type="text" value="{{_quiz.title}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.description" type="text"
                            value="{{_quiz.description}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.url" type="text" value="{{_quiz.url}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.randomOrder" type="checkbox"
                            value="{{_quiz.randomOrder}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.maxQuestions" type="text"
                            value="{{_quiz.maxQuestions}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.answersAtEnd" type="checkbox"
                            value="{{_quiz.answersAtEnd}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.examPaper" type="checkbox"
                            value="{{_quiz.examPaper}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.singleAttempt" type="checkbox"
                            value="{{_quiz.singleAttempt}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.passMark" type="text"
                            value="{{_quiz.passMark}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.successText" type="text"
                            value="{{_quiz.successText}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.failText" type="text"
                            value="{{_quiz.failText}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.draft" type="checkbox" value="{{_quiz.draft}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.quizOrderNo" type="text"
                            value="{{_quiz.quizOrderNo}}" />
                    </div>
                </td>

                <!-- <td><select [(ngModel)]="_quiz.courseidId">
                        <option *ngFor="let _course of _courseArray" value="{{_course.courseId}}"
                            [selected]="_quiz.courseidId==_course.courseId?true:null">
                            {{_course.courseName}} - {{_course.courseId}}</option>
                    </select></td>
                <td><input [(ngModel)]="_quiz.moduleId" type="text" value="{{_quiz.moduleId}}" /></td>
                <td><input [(ngModel)]="_quiz.categoryId" type="text" value="{{_quiz.categoryId}}" /></td> -->
                <td>
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="_quiz.courseId">
                            <option *ngFor="let course of _courseArray" value="{{course.courseId}}"
                                [selected]="_quiz.courseId == course.courseId ">
                                {{course.courseName}}
                            </option>
                        </select>
                    </div>
                </td>
                <!-- <td><input [(ngModel)]="_quiz.moduleId" type="text" value="{{_quiz.moduleId}}" /></td> -->
                <td>
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="_quiz.moduleId">
                            <option *ngFor="let module of _moduleArray" value="{{module.moduleId}}"
                                [selected]="_quiz.moduleId == module.moduleId ">
                                {{module.moduleName}}
                            </option>
                        </select>
                    </div>
                </td>
                <!-- <td><input [(ngModel)]="_quiz.categoryId" type="text" value="{{_quiz.categoryId}}" /></td> -->
                <td>
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="_quiz.categoryId">
                            <option *ngFor="let category of _categoryArray" value="{{category.categoryId}}"
                                [selected]="_quiz.categoryId == category.categoryId ">
                                {{category.categoryName}}
                            </option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.active" type="checkbox"
                            value="{{_quiz.active}}" />
                    </div>
                </td>
                <!-- <td><select [(ngModel)]="department.institutionId_id">
                        <option *ngFor="let inst of adminInstitutions" value="{{inst.adminInstitutionId}}"
                            [selected]="department.institutionId_id==inst.adminInstitutionId?true:null">
                            {{inst.adminInstitutionName}} - {{inst.adminInstitutionId}}</option>
                    </select></td> -->
                <td><button class="btn btn-primary" (click)="addQuiz(_quiz)">Add</button></td>
                <td><button class="btn btn-success" (click)="updateQuiz(_quiz,_quiz.title)">Update</button>
                </td>
                <td><button class="btn btn-success" (click)="deleteQuiz(_quiz,_quiz.title)">Delete</button>
                </td>
            </tr>
            <tr *ngFor="let _quiz of _quizArray">

                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.title" type="text" value="{{_quiz.title}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.description" type="text"
                            value="{{_quiz.description}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.url" type="text" value="{{_quiz.url}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.randomOrder" type="checkbox"
                            value="{{_quiz.randomOrder}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.maxQuestions" type="text"
                            value="{{_quiz.maxQuestions}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.answersAtEnd" type="checkbox"
                            value="{{_quiz.answersAtEnd}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.examPaper" type="checkbox"
                            value="{{_quiz.examPaper}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.singleAttempt" type="checkbox"
                            value="{{_quiz.singleAttempt}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.passMark" type="text"
                            value="{{_quiz.passMark}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.successText" type="text"
                            value="{{_quiz.successText}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.failText" type="text"
                            value="{{_quiz.failText}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.draft" type="checkbox" value="{{_quiz.draft}}" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.quizOrderNo" type="text"
                            value="{{_quiz.quizOrderNo}}" />
                    </div>
                </td>
                <!-- <td><input [(ngModel)]="_quiz.courseidId" type="text" value="{{_quiz.courseidId}}" /></td> -->
                <td>
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="_quiz.courseId">
                            <option *ngFor="let course of _courseArray" value="{{course.courseId}}"
                                [selected]="_quiz.courseId == course.courseId ? true:null">
                                {{course.courseName}}
                            </option>
                        </select>
                    </div>
                </td>
                <!-- <td><input [(ngModel)]="_quiz.moduleId" type="text" value="{{_quiz.moduleId}}" /></td> -->
                <td>
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="_quiz.moduleId">
                            <option *ngFor="let module of _moduleArray" value="{{module.moduleId}}"
                                [selected]="_quiz.moduleId == module.moduleId ? true:null">
                                {{module.moduleName}}
                            </option>
                        </select>
                    </div>
                </td>
                <!-- <td><input [(ngModel)]="_quiz.categoryId" type="text" value="{{_quiz.categoryId}}" /></td> -->
                <td>
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="_quiz.categoryId">
                            <option *ngFor="let category of _categoryArray" value="{{category.categoryId}}"
                                [selected]="_quiz.categoryId == category.categoryId ? true:null">
                                {{category.categoryName}}
                            </option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="_quiz.active" type="checkbox" value="{{_quiz.active}}"
                            disabled />
                    </div>
                </td>

                <td><button class="btn btn-primary" (click)="addQuiz(_quiz)">Add</button></td>
                <td><button class="btn btn-success" (click)="updateQuiz(_quiz,_quiz.title)">Update</button>
                </td>
                <td><button class="btn btn-danger" (click)="deleteQuiz(_quiz,_quiz.title)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" (click)="_backFunc()">Back</button>
</div>