<div class="container">
    <div class="Heading">
    <h1>Admin Form</h1>
    <h4>Add new Admin Role...!</h4>
    </div>
    <form #adduserform="ngForm" (ngSubmit)="upateAuthUser()">


        <div class="form-group" id="txt1">
            <label for="Name">User Name:</label>
            <input type="text" #roleName="ngModel" class="form-control" required [(ngModel)]="authUser.authUserName"  name="authUserName" >
           
        </div>

        

        
        

        <div class="form-group" id="txt1">
            <label for="price">User Password</label>
            <input type="password" #roleDescription="ngModel" class="form-control" required [(ngModel)]="authUser.authUserPassword" name="authUserPassword">
        </div>

        
        <div class="form-group" id="txt1">
            <label for="about">First Name</label>
            <input type="text"  #active="ngModel" class="form-control" required [(ngModel)]="authUser.authUserFirstName" name="authUserFirstName">
        </div>

        <div class="form-group" id="txt1">
            <label for="about">Last Name</label>
            <input type="text"  #active="ngModel" class="form-control" required [(ngModel)]="authUser.authUserLastName" name="authUserLastName">
        </div>

        <div class="form-group" id="txt1">
            <label for="about">User Email</label>
            <input type="text"  #active="ngModel" class="form-control" required [(ngModel)]="authUser.authUserEmail" name="authUserEmail">
        </div>

        <div class="form-group" id="txt1">
            <label for="about">Last Login</label>
            <input type="text"  #active="ngModel" class="form-control" required [(ngModel)]="authUser.authUserLastLogin" name="authUserLastLogin">
        </div>

        <div class="form-group" id="txt1">
            <label for="about">Is Staff</label>
            <input type="text"  #active="ngModel" class="form-control" required [(ngModel)]="authUser.authUserIsStaff" name="authUserIsStaff">
        </div>

        <div class="form-group" id="txt1">
            <label for="about">Is Active</label>
            <input type="text"  #active="ngModel" class="form-control" required [(ngModel)]="authUser.authUserIsActive" name="authUserIsActive">
        </div>

        <div class="form-group" id="txt1">
            <label for="about">Super User</label>
            <input type="text"  #active="ngModel" class="form-control" required [(ngModel)]="authUser.authUserIsSuperUser" name="authUserIsSuperUser">
        </div>

        <div class="form-group" id="txt1">
            <label for="about">Joined Date</label>
            <input type="text"  #active="ngModel" class="form-control" required [(ngModel)]="authUser.authUserDateJoined" name="authUserDateJoined">
        </div>

        
        
       
        <button type="submit" class="btn btn-success" id="btn1">Submit</button>&nbsp;&nbsp;
       

    </form>
    

   

</div>