.header1 h1 {
    border: 1px groove red;
    text-align: center;
    background-color: aqua;
}


table th {
    background-color: #566787;
    text-align: center;
    color: white;
    border: 1px groove black;
}

.table-header th {
    background-color: #566787;
    text-align: center;
    color: white;


}


.addbtn button {
    margin-left: 1400px;
    width: 100px;
}

#Updatebtninsadmin {
    width: 64px;
}

#addauth {

    margin-left: 20px;

}

#updateauth {
    margin-left: 20px;
}

#deleteauth {
    margin-left: 20px;
}





table tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

table td {
    border: 1px groove black;
}

#chk {
    width: 40px;
    height: 30px;

}

#deptHeader {
    background-color: grey;
}