.dropdown {
    list-style-type: none;
}

.dropdown-menu {
    max-height: 180px;
    overflow-y: auto;
    --bs-dropdown-min-width: 20rem;
}

input[type="checkbox"] {
    margin: 5px;
}

.modal-content {
    height: 560px;
}