
<div class="container-fluid">

    <div class="Heading">
        <h1>Auth User  Details</h1>
    </div>
                        <table class="table table-striped" id="tbl1">
                            <tr>
                            <th>Id</th>
                            <td>{{authuser.authUserId}}</td>
                        </tr>

                            <tr>
                            <th>Name</th>
                            <td>{{authuser.authUserName}}</td>
                            </tr>

                            
                            <tr>
                            <th>Password</th>
                            <td>{{authuser.authUserPassword}}</td>
                            </tr>

                            <tr>
                            <th>FirstName</th>
                            <td>{{authuser.authUserFirstName}}</td>
                            </tr>

                            <tr>
                            <th>LastName</th>
                            <td>{{authuser.authUserLastName}}</td>
                            </tr>

                            <tr>
                            <th>Email</th>
                            <td>{{authuser.authUserEmail}}</td>
                            </tr>
                            <tr>
                            <th>LastLogin</th>
                            <td>{{authuser.authUserLastLogin}}</td>
                            </tr>
                            <tr>

                            <th>isStaff</th>
                            <td>{{authuser.authUserIsStaff}}</td>
                            </tr> 


                            <tr>
                                <th>IsActive</th>
                                <td>{{authuser.authUserIsActive}}</td>
                            </tr>
    
                                <tr>
                                <th>IsSuperUser</th>
                                <td>{{authuser.authUserIsSuperUser}}</td>
                                </tr>
    
                                
                                <tr>
                                <th>DateJoined</th>
                                <td>{{authuser.authUserDateJoined}}</td>
                                </tr>
    
                               
    
                                <tr>
                                <th>createdBy</th>
                                <td>{{authuser.authUserCreatedBy}}</td>
                                </tr>
    
                                <tr>
                                <th>createdOn</th>
                                <td>{{authuser.authUserCreatedOn}}</td>
                                </tr>
                                <tr>
                                <th>modifiedBy</th>
                                <td>{{authuser.authUserModifiedBy}}</td>
                                </tr>
                                <tr>
                                <th>modifiedBy</th>
                                <td>{{authuser.authUserModifiedOn}}</td>
                                </tr> 
                       

                          
                        
                        </table>
</div>