<div class="container-fluid">
	<div class="header1">
		<h1 class="heading">Question Administration</h1>
	</div>
	<table class="table" border="1">
		<thead>
			<tr>
				<th>Figure</th>
				<th>Content</th>
				<th>Explanation</th>
				<th>Category</th>
				<th>isMCQ</th>
				<th>Quiz Id</th>
				<th>OrderNo</th>
				<th>isActive</th>
				<th>Add</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tr *ngIf="isHidden">
			<td>
				<div class="form-group">
					<input class="form-control" type="text" [(ngModel)]="question.questionFigure"
						value="{{question.questionFigure}}" />
				</div>
			</td>
			<td>
				<div class="form-group">
					<input class="form-control" type="text" [(ngModel)]="question.questionContent"
						value="{{question.questionContent}}" />
				</div>
			</td>
			<td>
				<div class="form-group">
					<input class="form-control" type="text" [(ngModel)]="question.questionExplanation"
						value="{{question.questionExplanation}}" />
				</div>
			</td>
			<td>
				<div class="form-group">
					<select [(ngModel)]="question.questionCategoryId" class="form-control"
						value="{{question.questionCategoryId}}">
						<option *ngFor="let inst of category" value="{{inst.categoryId}}"
							[selected]="question.questionCategoryId == inst.categoryId?true:null">{{inst.categoryName}}
						</option>
					</select>
				</div>
			</td>
			<td>
				<div class="form-group">
					<input class="form-control" [(ngModel)]="question.questionIsMCQ" type="checkbox"
						value="{{question.questionIsMCQ}}" />
				</div>
			</td>
			<td>
				<div class="form-group">
					<select [(ngModel)]="question.questionQuizId" class="form-control"
						value="{{question.questionQuizId}}">
						<option *ngFor=" let qiz of quiz" value="{{qiz.quizId}}"
							[selected]="question.questionQuizId == qiz.quizId?true:null">
							{{qiz.title}}</option>
					</select>
				</div>
			</td>
			<td>
				<div class="form-group">
					<select [(ngModel)]="question.questionOrderNo" class="form-control"
						value="{{question.questionOrderNo}}">
						<option>Select</option>
						<option> 1</option>
						<option>2</option>
						<option selected>3</option>
					</select>
				</div>
			</td>
			<td>
				<div class="form-group">
					<input class="form-control" [(ngModel)]="question.questionIsActive" type="checkbox"
						value="{{question.questionIsActive}}">
				</div>
			</td>

			<td>
				<div class="form-group">
					<button class="form-control btn btn-primary" id="addbtn"
						(click)="insertQuestion(question)">Add</button>
				</div>
			</td>
			<td>
				<div class="form-group">
					<button class="form-control btn btn-success" id="updbtn"
						(click)="updateQuestion(question)">Update</button>
				</div>
			</td>
			<td>
				<div class="form-group">
					<button class="form-control btn btn-danger" id="delbtn"
						(click)="deleteQuestion(question)">Delete</button>
				</div>
			</td>
		</tr>





		<tr *ngFor="let que of _question">
			<td>
				<div class="form-group">
					<input class="form-control" type="text" [(ngModel)]="que.questionFigure"
						value="{{que.questionFigure}}" />
				</div>
			</td>
			<td>
				<div class="form-group">
					<input class="form-control" type="text" [(ngModel)]="que.questionContent"
						value="{{que.questionContent}}" />
				</div>
			</td>
			<td>
				<div class="form-group">
					<input class="form-control" type="text" [(ngModel)]="que.questionExplanation"
						value="{{que.questionExplanation}}" />
				</div>
			</td>
			<td>
				<div class="form-group">
					<select [(ngModel)]="que.questionCategoryId" class="form-control"
						value="{{que.questionCategoryId}}">
						<option *ngFor="let inst of category" value="{{inst.categoryId}}"
							[selected]="que.questionCategoryId == inst.categoryId?true:null">{{inst.categoryName}}
						</option>
					</select>
				</div>
			</td>
			<td>
				<div class="form-group">
					<input class="form-control" [(ngModel)]="que.questionIsMCQ" class="form-control" type="checkbox"
						value="{{que.questionIsMCQ}}" />
				</div>
			</td>
			<td>
				<div class="form-group">
					<select [(ngModel)]="que.questionQuizId" class="form-control" value="{{que.questionQuizId}}">
						<option *ngFor=" let qiz of quiz" value="{{qiz.quizId}}"
							[selected]="que.questionQuizId == qiz.quizId?true:null">
							{{qiz.title}}</option>
					</select>
				</div>
			</td>
			<td>
				<div class="form-group">
					<select [(ngModel)]="que.questionOrderNo" class="form-control" value="{{que.questionOrderNo}}">
						<option>Select</option>
						<option> 1</option>
						<option>2</option>
						<option selected>3</option>
					</select>
				</div>
			</td>
			<td>
				<div class="form-group">
					<input class="form-control" [(ngModel)]="que.questionIsActive" type="checkbox" disabled
						value="{{que.questionIsActive}}">
				</div>
			</td>

			<td>
				<div class="form-group">
					<button class="form-control btn btn-primary" id="addbtn" (click)="insertQuestion(que)">Add</button>
				</div>
			</td>
			<td>
				<div class="form-group">
					<button class="form-control btn btn-success" id="updbtn"
						(click)="updateQuestion(que)">Update</button>
				</div>
			</td>
			<td>
				<div class="form-group">
					<button class="form-control btn btn-danger" id="delbtn"
						(click)="deleteQuestion(que)">Delete</button>
				</div>
			</td>
		</tr>
	</table>
</div>