<h1>Question Administration</h1>
<table class="table" border="1">
	<tr>
		<th>Figure</th>
		<th>Content</th>
		<th>Explanation</th>
		<th>Category</th>
		<th>isMCQ</th>
		<th>Quiz Id</th>
		<th>OrderNo</th>
		<th>isActive</th>
		<th>Add</th>
		<th>Update</th>
		<th>Delete</th>
	</tr>

	<tr *ngFor="let que of _question">
		<td><input type="text" [(ngModel)]="que.questionFigure" value="{{que.questionFigure}}" /></td>
		<td><input type="text" [(ngModel)]="que.questionContent" value="{{que.questionContent}}" /></td>
		<td><input type="text" [(ngModel)]="que.questionExplanation" value="{{que.questionExplanation}}" /></td>
		<td>
			<select [(ngModel)]="que.questionCategoryId" value="{{que.questionCategoryId}}">
				<option *ngFor="let inst of category" value="{{inst.categoryId}}"
					[selected]="que.questionCategoryId == inst.categoryId?true:null">{{inst.categoryName}}</option>
			</select>
		</td>
		<td><input [(ngModel)]="que.questionIsMCQ" type="checkbox" value="{{que.questionIsMCQ}}" /></td>
		<td>
			<select [(ngModel)]="que.questionQuizId" value="{{que.questionQuizId}}">
				<option *ngFor=" let qiz of quiz" value="{{qiz.quizId}}"
					[selected]="que.questionQuizId == qiz.quizId?true:null">
					{{qiz.quizId}}</option>
			</select>
		</td>
		<td>
			<select [(ngModel)]="que.questionOrderNo" value="{{que.questionOrderNo}}">
				<option>Select</option>
				<option> 1</option>
				<option>2</option>
				<option selected>3</option>
			</select>
		</td>
		<td><input [(ngModel)]="que.questionIsActive" type="checkbox" value="{{que.questionIsActive}}"></td>

		<td><button class="add1" (click)="insertQuestion(que)">Add</button></td>
		<td><button Class="upd1" (click)="updateQuestion(que)">Update</button></td>
		<td><button Class="del1" (click)="deleteQuestion(que)">Delete</button></td>
	</tr>
</table>