button {
    margin: 2px;
}

.container {
    margin-top: 10px;
}

table th {
    background-color: #435D7D;
    text-align: center;
    vertical-align: middle;
    color: white;
    border: 1px groove black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    /* color: black; */

}

table td {
    text-align: center;
    vertical-align: middle;
}

.btn {
    border-radius: 15px;
}

select {
    -webkit-appearance: none;
}