<div class="container">
    <div class="Heading">
            <h1>Update Admin Role Details...</h1>
            <h4>Upadte the Admin Role  details as shown...!</h4>
    </div>
<form #adduserform="ngForm" (ngSubmit)="updateadmin()">

    <div class="form-group">
        <label for="Name">Role Id</label>
        <input type="text" class="form-control" required [(ngModel)]="admin.roleId" name="roleId" readonly>
    </div>

    <div class="form-group">
        <label for="Name">Role Name:</label>
        <input type="text" class="form-control" required [(ngModel)]="admin.roleName" name="roleName">
    </div>
    <div class="form-group">
        <label for="price">Role Description</label>
        <input type="text" class="form-control" required [(ngModel)]="admin.roleDescription" name="roleDescription">
    </div>
    <div class="form-group">
        <label for="about">Active</label>
        <input type="text" class="form-control" required [(ngModel)]="admin.active" name="active">
    </div>

    <button type="submit" class="btn btn-success" id="btn1">Update</button>&nbsp;&nbsp;

    <button type="submit" class="btn btn-success" id="btn1" (click)="goBack()">Back</button>&nbsp;&nbsp;
   

</form>

</div>