<div class="container">

    <!-- <head>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head> -->

    <div>
        <div class="row">
            <div class="col-md-6 justify-content-between header">
                <h1>Teacher Panel</h1>
                <h3> Welcome {{userName | titlecase}}</h3>
            </div>

            <div class="col-md-6 text-right buttons">
                <button class="btn btn-primary" id="adminbtn" (click)="RedirectTOLogin()">Logout</button>
            </div>
        </div>
    </div>
<!-- ---------------------------------------------------------------------------------- -->
<!-- <div id="chart-data"> -->
    <h3 >Progress Panel</h3>
    
    <div class="app-chartdata-ui" >
      <div id="prevButton">
      <button *ngIf="currentIndex >= 3" (click)="previous()" class='fas fa-angle-left' style='font-size:48px;color:black;background: transparent;
        border: none;'></button>
      </div>
      <div id="chart-head">
        
       
    <p class="agg-count"><b>Count Of Students</b></p>
    <div class="vertical"></div>
    
      <div class="chart" *ngFor="let dChart of doughCharts; let i = index" 
       [ngClass]="{'hidden': i < currentIndex || i >= currentIndex + 3}"> 
        <h4><p class="category">{{ dChart[4] }}</p></h4>
        <app-bar-chart [jsonArray]="[dChart[0], dChart[1],dChart[2],dChart[3]]" (click)="openPopup(  )" (clickData)="handleRightClickData($event,dChart[5])"></app-bar-chart>
    
    </div>
   
    <div class="horizontal"></div>
    <p class="course-progress"><b>Course Progress(%)</b></p>
    </div>
      <div id="nextButton">
      <button *ngIf="currentIndex < doughCharts.length - 3" (click)="next()" class='fas fa-angle-right' style='font-size:48px;color:black;background: transparent;
      border: none;'></button>
      </div>
    </div>
    
    

<!-- ----------------------------------------------------------------------------------- -->
<!-- -------------------------------------------pop-up code-------------------------------------- -->

<!-- <div >

<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display': displayPopupStyle}">
<div class="modal-dialog" role="document">
	<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title">Students Score</h4>
	</div>
	<div class="modal-body">
		
        <div *ngFor="let progress of courseProgressArr; let i = index">
        <!-- <p>{{ popupDataValue}}  {{ popupDataLabel}}  </p> -->
        <!-- <p>{{this.studProgDetailArr[i][0]}}  {{this.studProgDetailArr[i][1]}}  -  {{this.studProgDetailArr[i][2]}}</p>


	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger"
				(click)="closePopup()">
		Close
		</button>
	</div>
	</div>
</div>
</div>

</div> --> 
<!-- -------------------------------------------pop-up code close-------------------------------------- -->

    <div class="container">
        <!-- first row  -->
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center" (click)="RedirectToTeacherCourse()">
                    <div class="card-header">
                        <span class="fas fa-book-open fa-4x" style="color:rgb(21,114,213)"></span>
                    </div>
                    <div class="card-body">
                        <!--<h3 class="card-title">Courses</h3>-->
                        <button class="btn btn-primary">Courses</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center" (click)="RedirectToModule()">
                    <div class="card-header">
                        <span class="fas fa-book fa-4x" style="color: rgb(114,208,169);"></span>
                    </div>
                    <div class="card-body">
                        <!--<h3 class="card-title">Modules</h3>-->
                        <button class="btn btn-primary">Modules</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center" (click)="RedirectToModuleFile()">
                    <div class="card-header">
                        <span class="fas fa-clone fa-4x" style="color: rgb(24,47,81);"></span>
                    </div>
                    <div class="card-body">
                        <!--<h3 class="card-title">Module Content</h3>-->
                        <button class="btn btn-primary">Module Content</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- second row -->
        <div class="row">

            <div class="col-md-4">
                <div class="card text-center" (click)="RedirectToQuiz()">
                    <div class="card-header">
                        <span class="fas fa-lightbulb fa-4x" style="color: rgb(247,199,0);"></span>
                    </div>
                    <div class="card-body">
                        <!--<h3 class="card-title">Quizzes</h3>-->
                        <button class="btn btn-primary">Quizzes</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center" (click)="RedirectToQuestion()">
                    <div class="card-header">
                        <span class="fas fa-question-circle fa-4x" style="color: rgb(108,44,153);"></span>
                    </div>
                    <div class="card-body">
                        <!--<h3 class="card-title">Questions & Answers</h3>-->
                        <button class="btn btn-primary">Questions & Answers</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center" (click)="RedirectToEnrollStudent()">
                    <div class="card-header">
                        <span class="fas fa-book-reader fa-4x" style="color: rgb(171,29,70);"></span>
                    </div>
                    <div class="card-body">
                        <!--<h3 class="card-title">Enroll Students To Course</h3>-->
                        <button class="btn btn-primary">Enroll Students To Course</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- third row -->
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center" (click)="redirectToAnnouncements()">
                    <div class="card-header">
                        <span class="fas fa-bell fa-4x" style="color:rgb(236,172,56)"></span>
                    </div>
                    <div class="card-body">
                        <!--<h3 class="card-title">Announcements</h3>-->
                        <button class="btn btn-primary">Announcements</button>
                    </div>
                </div>
            </div>
        </div>
    </div>