<div class="container">

    <div>
        <div class="row">
            <div class="col-md-6 justify-content-between header">
               
                <h1><img src="{{displayInstituteLogo}}/{{instituteId}}" style="width: 50px; height: 50px;border: 1px solid black;"> {{actualUserRole | titlecase}} Panel</h1>
                
                
                <h3> Welcome {{userName | titlecase}}</h3>
            </div>
           
            <div class="col-md-6 text-right buttons">
                <button class="btn btn-primary" id="adminbtn" (click)="RedirectTOLogin()">Logout</button>
            </div>
        </div>
    </div>
    <!-- -------------------------------------Teacher progress Chart code start--------------------------------------------- -->
    <!-- <div>
    <h3>Progress Panel</h3>
</div> -->

    <!-- <h3 >Progress Panel</h3> -->
    <div *ngIf="clickedCourse.courseName == '' ">
        <h3>Progress Panel</h3>
    </div>
    <div *ngIf="(!barClicked)  ||  (closeButtonStatus)">
        <div *ngIf="barCharts.length != 0" class="app-chartdata-ui" id="app-chartdata">
            <div id="prevButton">
                <button *ngIf="currentIndex >= 3" (click)="barPrevious()" class='fas fa-angle-left' style='font-size:48px;color:black;background: transparent;
        border: none;'></button>
            </div>
            <div id="chart-head">


                <p class="agg-count"><b>Count Of Students</b></p>
                <div class="vertical"></div>

                <div class="chart" *ngFor="let bChart of barCharts; let i = index"
                    [ngClass]="{'hidden': i < currentIndex || i >= currentIndex + 3}">
                    <h4>
                        <b>
                            <p class="category" style="font-size: 1.5rem;">{{ bChart[4] }}</p>
                        </b>
                    </h4>
                    <app-bar-chart [jsonArray]="[bChart[0], bChart[1],bChart[2],bChart[3]]"
                        (clickData)="handleRightClickData($event,bChart[5])"></app-bar-chart>

                </div>

                <div class="horizontal"></div>
                <p class="course-progress"><b>Course Progress(%)</b></p>
            </div>
            <div id="nextButton">
                <button *ngIf="currentIndex < barCharts.length - 3" (click)="barNext()" class='fas fa-angle-right'
                    style='font-size:48px;color:black;background: transparent;
      border: none;'></button>
            </div>
        </div>

        <div *ngIf="barCharts.length == 0 " class="app-chartdata-ui">

            <div id="nocourmsg">
                No Courses Assigned
            </div>

        </div>
    </div>

    <!-- -------------------------------------Teacher progress Chart code end--------------------------------------------- -->




    <!-- -------------------------------------Individual Student progress Chart code start--------------------------------------------- -->
    <div *ngIf="clickedCourse.courseName != '' ">
        <h3> Progress Panel - {{clickedCourse.courseName}} </h3>
    </div>
    <div *ngIf="(barClicked ) && (!closeButtonStatus)">

        <div *ngIf="studProgDetailArr.length != 0" class="app-chartdata-ui-stud">
            <div id="container">
                <div class="crossButton">
                    <span class="fa-sharp fa-solid fa-square-xmark fa-xl" (click)="closeButton()"></span>
                </div>


                <div id="prevButton">


                    <button *ngIf="dchartcurrentIndex >= 3" (click)="doughnutPrevious()" class='fas fa-angle-left'
                        style='font-size:48px;color:black;background: transparent;
border: none;'></button>

                </div>
                <div id="chart-head">
                    <div class="chart" *ngFor="let dChart of studProgDetailArr; let i = index"
                        [ngClass]="{'hidden': i < dchartcurrentIndex || i >= dchartcurrentIndex + 3}">
                        <h4>
                            <b>
                                <p class="category">{{ dChart[2] }}</p>
                            </b>
                        </h4>
                        <app-chartdata [jsonArray]="[dChart[0], dChart[1]]"></app-chartdata>

                    </div>
                </div>


                <div id="nextButton">

                    <div class="nextButtonchild">
                        <button *ngIf="dchartcurrentIndex < studProgDetailArr.length - 3" (click)="doughnutNext()"
                            class='fas fa-angle-right' style='font-size:48px;color:black;background: transparent;
border: none;'></button>

                    </div>
                </div>
            </div>


            <!-- Code for display message when courses  are not assigned -->
            <div *ngIf="studProgDetailArr.length == 0 " class="app-chartdata-ui">

                <div id="nocourmsg">
                    No Courses Assigned
                </div>

            </div>




        </div>
    </div>

    <!-- -------------------------------------Individual Student progress Chart code end--------------------------------------------- -->


    <!-- ----------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------pop-up code-------------------------------------- -->



    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayPopupStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Students Score for {{clickedCourse.courseName}} Course</h4>
                </div>
                <div class="modal-body">

                    <div *ngFor="let progress of courseProgressArr; let i = index">
                        <!-- <p>{{ popupDataValue}}  {{ popupDataLabel}}  </p> -->
                        <p>{{studProgDetailArr[i][0]}} {{studProgDetailArr[i][1]}} - {{studProgDetailArr[i][2]}}</p>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- -------------------------------------------pop-up code close-------------------------------------- -->

    <div class="container">

        <div class="col-md-4" *ngIf="modulePermissionIds.has(authModule.CATEGORY)">
            <div class="card text-center" [routerLink]="['/category']">
                <div class="card-header">
                    <span class="   fa fa-list fa-4x" style="color:rgb(236,172,56)"></span>
                </div>
                <div class="card-body">
                    <!-- <h3 class="card-title">Announcements</h3>-->
                    <button class="btn btn-primary">Category</button>
                </div>
            </div>
        </div>
        <!-- first row  -->
        <!-- <div class="row"> -->
        <div class="col-md-4" *ngIf="modulePermissionIds.has(authModule.COURSE)">
            <div class="card text-center" (click)="RedirectToTeacherCourse()">
                <div class="card-header">
                    <span class="fas fa-book-open fa-4x" style="color:rgb(21,114,213)"></span>
                </div>
                <div class="card-body">
                    <!--<h3 class="card-title">Courses</h3>-->
                    <button class="btn btn-primary">Courses</button>
                </div>
            </div>
        </div>

        <div class="col-md-4" *ngIf="modulePermissionIds.has(authModule.MODULE)">
            <div class="card text-center" (click)="RedirectToModule()">
                <div class="card-header">
                    <span class="fas fa-book fa-4x" style="color: rgb(114,208,169);"></span>
                </div>
                <div class="card-body">
                    <!--<h3 class="card-title">Modules</h3>-->
                    <button class="btn btn-primary">Modules</button>
                </div>
            </div>
        </div>
        <div class="col-md-4" *ngIf="modulePermissionIds.has(authModule.MODULE_FILE)">
            <div class="card text-center" (click)="RedirectToModuleFile()">
                <div class="card-header">
                    <span class="fas fa-clone fa-4x" style="color: rgb(24,47,81);"></span>
                </div>
                <div class="card-body">
                    <!--<h3 class="card-title">Module Content</h3>-->
                    <button class="btn btn-primary">Module Content</button>
                </div>
            </div>
        </div>
        <!-- </div> -->


        <!-- second row -->
        <!-- <div class="row"> -->

        <div class="col-md-4" *ngIf="modulePermissionIds.has(authModule.QUIZ)">
            <div class="card text-center" (click)="RedirectToQuiz()">
                <div class="card-header">
                    <span class="fas fa-lightbulb fa-4x" style="color: rgb(247,199,0);"></span>
                </div>
                <div class="card-body">
                    <!--<h3 class="card-title">Quizzes</h3>-->
                    <button class="btn btn-primary">Quizzes</button>
                </div>

            </div>
        </div>
        <div class="col-md-4" *ngIf="modulePermissionIds.has(authModule.QUESTION_ANSWER)">
            <div class="card text-center" (click)="RedirectToQuestion()">
                <div class="card-header">
                    <span class="fas fa-question-circle fa-4x" style="color: rgb(108,44,153);"></span>
                </div>
                <div class="card-body">
                    <!--<h3 class="card-title">Questions & Answers</h3>-->
                    <button class="btn btn-primary">Questions & Answers</button>
                </div>
            </div>
        </div>

        <div class="col-md-4" *ngIf="modulePermissionIds.has(authModule.REVIEW_ANSWERS)">
            <div class="card text-center" (click)="RedirectToReviewAnswer()">
                <div class="card-header">
                    <span class="fas fa-question-circle fa-4x" style="color: rgb(108,44,153);"></span>
                </div>
                <div class="card-body">
                    <!--<h3 class="card-title">Questions & Answers</h3>-->
                    <button class="btn btn-primary">Review Answers</button>
                </div>
            </div>
        </div>
        <div class="col-md-4" *ngIf="modulePermissionIds.has(authModule.ENROLL_STUDENTS)">
            <div class="card text-center" (click)="RedirectToEnrollStudent()">
                <div class="card-header">
                    <span class="fas fa-book-reader fa-4x" style="color: rgb(171,29,70);"></span>
                </div>
                <div class="card-body">
                    <!--<h3 class="card-title">Enroll Students To Course</h3>-->
                    <button class="btn btn-primary">Enroll Students To Course</button>
                </div>
            </div>
        </div>

        <div class="col-md-4" *ngIf="modulePermissionIds.has(authModule.ANNOUNCEMENT)">
            <div class="card text-center" [routerLink]="['/announcement/teacher', { id: teacherId }]">
                <div class="card-header">
                    <span class="fas fa-bell fa-4x" style="color:rgb(236,172,56)"></span>
                </div>
                <div class="card-body">
                    <!--<h3 class="card-title">Announcements</h3>-->
                    <button class="btn btn-primary">Announcements</button>
                </div>
            </div>
        </div>
        <div class="col-md-4" *ngIf="modulePermissionIds.has(authModule.DEPARTMENT)">
            <div class="card text-center" [routerLink]="['/Department',userName]">
                <div class="card-header">
                    <span class="fas fa-building fa-4x" style="color:rgb(236,140,0)"></span>
                </div>
                <div class="card-body">
                    <!-- <h3 class="card-title">Departments</h3>-->
                    <button class="btn btn-primary">Departments</button>
                </div>

            </div>
        </div>
        <!-- <div class="col-md-4" *ngIf="modulePermissionIds.has(authModule.AUTH_USER)">
            <div class="card text-center" [routerLink]="['/AuthUser',userName]">
                <div class="card-header">
                    <span class="fas fa-user-cog fa-4x" style="color: darkblue"></span>
                </div>
                <div class=" card-body">
                    <button class="btn btn-primary">Users</button>
                </div>

            </div>
        </div>
        <div class="col-md-4" *ngIf="modulePermissionIds.has(authModule.PROFILE)">
            <div class="card text-center" [routerLink]="['/Profile',userName]">
                <div class=" card-header">
                    <span class="fas fa-users fa-4x" style="color: rgb(50,126,199);"></span>
                </div>
                <div class="card-body">
                    <button class="btn btn-primary">User
                        Profiles</button>
                </div>
            </div>
        </div> -->
        <div class="col-md-4" *ngIf="modulePermissionIds.has(authModule.ASSIGN_TEACHERS)">
            <div class="card text-center" [routerLink]="['/assignteacher',userName]">
                <div class="card-header">
                    <span class="fas fa-book-reader fa-4x" style="color:rgb(97,63,28)"></span>
                </div>
                <div class="card-body">
                    <!-- <h3 class="card-title">Assign Course To Teachers</h3>-->
                    <button class="btn btn-primary">Assign Course To User</button>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>