<div class="container-fluid mt-5 mb-3">

    <!-- <head>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head> -->

    <div class="header">
        <div class="row">
            <div class="col-md-6" id="h1">
                <h1>Teacher Panel</h1>
                <h3> Welcome {{userName | titlecase}}</h3>
            </div>

            <div class="col-md-6" id="h2">
                <button class="btn btn-primary" id="demo" (click)="RedirectTOLogin()">Logout</button>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- first row  -->
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center" (click)="RedirectToTeacherCourse()">
                    <div class="card-header">
                        <span class="fas fa-book-open fa-4x"></span>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Courses</h3>
                        <button class="btn btn-primary">Courses</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center" (click)="RedirectToModule()">
                    <div class="card-header">
                        <span class="fas fa-book fa-4x"></span>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Modules</h3>
                        <button class="btn btn-primary">Modules</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center" (click)="RedirectToModuleFile()">
                    <div class="card-header">
                        <span class="fas fa-clone fa-4x"></span>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Module Content</h3>
                        <button class="btn btn-primary">Module Content</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- second row -->
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center" (click)="RedirectToQuiz()">
                    <div class="card-header">
                        <span class="fas fa-lightbulb fa-4x"></span>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Quizzes</h3>
                        <button class="btn btn-primary">Quizzes</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center" (click)="RedirectToQuestion()">
                    <div class="card-header">
                        <span class="fas fa-question-circle fa-4x"></span>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Questions & Answers</h3>
                        <button class="btn btn-primary">Q / A</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center" (click)="redirectToAnnouncements()">
                    <div class="card-header">
                        <span class="fas fa-bell fa-4x"></span>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Announcements</h3>
                        <button class="btn btn-primary">Announcements</button>
                    </div>
                </div>
            </div>
        </div>

    </div>