<div class="container-fluid">
    <div class="container">
        <app-module-header [moduleName]="moduleName"
            [buttons]="{showAddButton:showAddButton,showActivateButton:showActivateButton}"
            (backButtonClicked)="home()"></app-module-header>


        <div class="container">
            <div class="row">
                <div class="col-sm-3 text-center" *ngFor="let institution of institutions">
                    <div><img src="../../assets/img/{{institution.adminInstitutionPicture}}" />
                    </div>

                    <div><button #btn1 id="demo" class="btn btn-info">{{institution.adminInstitutionName}}</button>
                    </div>

                    <div><button class="btn btn-success institutebtn" id="deletebtn"
                            (click)="activateInstitution(institution.adminInstitutionId)">Activate</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>