<div class="container">
    <div class="row justify-content-between">
        <div class="col-sm-6">
            <h1>Department Administration</h1>
        </div>

        <div class="col-sm-6 text-right">
            <!-- <button class="btn btn-danger" [routerLink]="['/add', viewOf]">Add</button> -->
            <button class="btn btn-primary" (click)="navigateToAdd()">Add</button>
            <button class="btn btn-primary" (click)="back()">Back</button>
        </div>
    </div>

    <app-view-all *ngIf="dataAvailable"
        [data]="{moduleName:'Department' ,moduleData:this.departments , tableHeader:departmentHeader}"
        [dropdown1]="{optionsArray1:this.adminInstitutions ,dropdownColumnId1:'adminInstitutionId' , dropdownColumnName1:'adminInstitutionName'}"
        [idsColumnName]="{columnName:'id'}" (viewClicked)="onChildViewClick($event)"
        (updateClicked)="onChildUpdateClick($event)"></app-view-all>
    <div *ngIf="!dataAvailable">
        <h3>No departments</h3>
    </div>
</div>