<div class="container-fluid">
    <div class="container">

        <div class="header1">
            <h1>Institute Administration</h1>
        </div>
        <div class="row text-right">
            <button class="btn btn-success" (click)="redirectToActivateInstitution()">Activate Institutions</button>
            <button class="btn btn-success" (click)="addInstitute()">ADD New
                Institute</button>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-3 text-center" *ngFor="let institution of admininstitutions">
                    <div><img src="../../assets/img/{{institution.adminInstitutionPicture}}"
                            (click)="display(institution.adminInstitutionId)" />
                    </div>

                    <div><button #btn1 id="demo" class="btn btn-info"
                            (click)="display(institution.adminInstitutionId)">{{institution.adminInstitutionName}}</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row text-left"><button class="btn btn-primary" (click)="Back()">Back</button></div>

    </div>