
<div class="container-fluid">
    <div class="Heading">
        <h1>Auth User CRUD Operation</h1>

        <div class="btn1">
            <button class="btn btn-primary" id="insert" (click)="addAuthUser()">Insert</button>
        </div>

      
    <table class="table table-striped">
   <tr id="head">
    <th> Id</th>
    <th>Name</th>
    <th>Password</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>LastLogin</th>
    <th>IsStaff</th>
    <th>IsActive</th>
    <th>IsSuperUser</th>
    <th>DateJoined</th>
    <th>CreatedBy</th>
    <th>CreatedOn</th>
    <th>ModifiedBy</th>
    <th>ModifiedOn</th>
    <th>View</th>
    <th>Update</th>
    <th>Delete</th>
   </tr> 
    <tr *ngFor="let user of _authUser">
       <!--<li>{{emp | json}}</li>--> 
    <td>{{user.authUserId}}</td>
     <td>{{user.authUserName}}</td>
     <td>{{user.authUserPassword}}</td>
     <td>{{user.authUserFirstName}}</td>
     <td>{{user.authUserLastName}}</td>
     <td>{{user.authUserEmail}}</td>
     <td>{{user.authUserLastLogin}}</td>
     <td>{{user.authUserIsStaff}}</td>
     <td>{{user.authUserIsActive}}</td>
     <td>{{user.authUserIsSuperUser}}</td>
     <td>{{user.authUserDateJoined}}</td>
     <td>{{user.authUserCreatedBy}}</td>
     <td>{{user.authUserCreatedOn}}</td>
     <td>{{user.authUserModifiedBy}}</td>
     <td>{{user.authUserModifiedOn}}</td>
     <td> <button type="button"  id="btn1"(click)="viewAuthUser(user.authUserName)">View</button></td>
     <td> <button type="button"  id="btn1"(click)="updateAuthUser(user.authUserName)">Update</button></td>
     <td> <button type="button"  id="btn1"(click)="deleteAuthUser(user.authUserName)">Delete</button></td>
    
     
    

    </tr>

</table>


</div>
